openapi: 3.2.0
info:
  title: Introduction Catalogs API
  description: Use the catalog-view Service API to create your catalogs.
  version: 26.0508.7574130
  x-version-timestamp: 2026-05-08 11:06:53+00:00
servers:
- url: https://euwest.api.elasticpath.com
  description: EU West Production Server
- url: https://useast.api.elasticpath.com
  description: US East Production Server
security:
- bearerAuth: []
tags:
- name: Catalogs
  description: A catalog contains the products available for sale either in your organization or store.
paths:
  /catalogs:
    post:
      tags:
      - Catalogs
      summary: Creates a new catalog
      description: 'Before you create a catalog, you must define the following resources:


        - Hierarchies - hierarchies and nodes to categorize the products.

        - Products - product information, associated assets, and links to hierarchy nodes.

        - Price Books - prices for the products associated with the hierarchies. You can create multiple price books for different scenarios, such as seasonal sales, business versus retail customer pricing, and reward programs. When creating a catalog, you can specify up to five price books. You must configure a priority for your price books. Product prices are displayed in the catalog according to the priority of the price books. Priority is a number and the price book with the highest number has the highest priority.'
      operationId: createCatalog
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/catalog-create-data'
        description: Creates a catalog with the following attributes.
        required: true
      responses:
        '201':
          description: The created catalog
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/catalog-data'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
    get:
      tags:
      - Catalogs
      summary: Gets all authorized catalogs
      description: 'Retrieves a list of all the catalogs that you are authorized to view. Currently, published catalogs are limited to the current release and two releases prior to the current release. You can see the differences between the last 2 consecutive catalog releases using the delta link returned in the response of a publish a catalog endpoint.


        You can use the `is_full_delta` attribute returned from the `get a release of a catalog` endpoint to determine if you need to refresh the data in your company system before publishing a catalog release and injecting fresh data in a delta link. The `is_full_delta` attribute tells you if this is a full publish of a catalog release. Using a search service as an example, if the `is_full_delta` attribute is `true`, you should remove all data about that catalog from the search service before publishing a catalog release and injecting fresh data from the delta file. See Publish a catalog.


        If the `is_full_publish` attribute returned in the response is `false`, data from the previous catalog release overlaid the existing data in the delta file. The `is_full_publish` attribute is always `true` the first time a catalog is published. When determining whether delta data needs to be refreshed, ignore this attribute and always use the `is_full_delta` attribute.


        ### Filtering


        This endpoint supports filtering. For general filtering syntax, see Filtering. The following operators and attributes are available when filtering on this endpoint.


        | Operator | Description | Supported Attributes | Example |

        |:---|:------------------------------------------------------------------------------------------------|:---------------------------------------------------------|:--- |

        | `eq` | Checks if the values of two operands are equal. If they are, the condition is true. | `name`, | `filter=eq(name,some-name)` |

        | `in` | Checks if the values are included in the specified list. If they are, the condition is true. | `name` | `filter=in(name,some-name,some-name2)` |

        | `like` | Checks if the operand contains the specified string. Wildcards are supported | `name` | `filter=like(name,*some-name*)` |'
      operationId: getCatalogs
      parameters:
      - $ref: '#/components/parameters/filter-catalog'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: The list of catalogs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/catalog-list-data'
        default:
          description: An unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalogs/{catalog_id}:
    get:
      tags:
      - Catalogs
      summary: Get a catalog by ID
      description: Retrieves the specified catalog.
      operationId: getCatalogByID
      parameters:
      - description: The catalog ID.
        name: catalog_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/catalog-data'
        default:
          description: An unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
    put:
      tags:
      - Catalogs
      summary: Updates a catalog
      description: Specify whichever attributes you want to change. The values of the other attributes remain the same. If the attributes section is empty, the catalog is not updated.
      operationId: updateCatalog
      parameters:
      - description: The catalog ID.
        name: catalog_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/catalog-update-data'
        description: Updated catalog.
        required: true
      responses:
        '200':
          description: An updated catalog with the following attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/catalog-data'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
    delete:
      tags:
      - Catalogs
      summary: Deletes a catalog
      description: Deletes an unpublished catalog. Use **Delete a Release** and **Delete All Releases** to delete releases of a catalog. If the catalog is associated with any catalog rules, you must first update the catalog rules to remove the catalog.
      operationId: deleteCatalogByID
      parameters:
      - description: The catalog ID.
        name: catalog_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: A 204 response indicates that the catalog has been deleted.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
components:
  schemas:
    prioritized-pricebooks:
      description: If you want multiple price books for different scenarios, such as seasonal sales, business versus retail pricing, and reward programs, when creating a catalog, you can specify up to five price books. You must configure a priority for your price books. Product prices are displayed in the catalog according to the priority of the price books.
      type: array
      maxItems: 5
      items:
        type: object
        properties:
          id:
            description: A unique identifier of a price book.
            type: string
            format: uuid
          priority:
            description: Priority is a number and the price book with the highest number has the highest priority.
            type: integer
        required:
        - priority
        - id
        x-go-name: PrioritizedPricebook
    catalog-update-data:
      type: object
      title: CatalogUpdateData
      description: A catalog combines price books, product lists, and hierarchies.
      properties:
        data:
          type: object
          properties:
            attributes:
              type: object
              properties:
                name:
                  description: The name of the catalog.
                  type:
                  - string
                  - 'null'
                  minLength: 1
                  example: catalog-123
                description:
                  description: A brief description of the catalog.
                  type:
                  - string
                  - 'null'
                  example: Catalog for Store 123
                hierarchy_ids:
                  description: The unique identifiers of the hierarchies to associate with a catalog.
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                pricebook_id:
                  description: The unique identifier of a price book to associate with a catalog. You can specify a `pricebook_id` or a `pricebook_ids` but not both. If you specify both, a `422 unprocessable entity` error is displayed.
                  type:
                  - string
                  - 'null'
                pricebook_ids:
                  $ref: '#/components/schemas/prioritized-pricebooks'
                locales:
                  description: Product Experience Manager supports localization of products and hierarchies. If you store supports multiple languages, you can localize product names and descriptions.
                  type: object
                  additionalProperties:
                    description: A [three-letter language code](https://www.loc.gov/standards/iso639-2/) that represents the name of language you have used.
                    type: object
                    additionalProperties:
                      description: A [three-letter language code](https://www.loc.gov/standards/iso639-2/) that represents the name of language you have used.
                      type: string
                enable_price_segmentation:
                  description: This indicates whether the catalog will support price segmentation using catalog rules to define which pricebook(s) to use for pricing
                  type: boolean
                  example: true
                  default: false
                  x-go-name: EnablePriceSegmentation
                include_draft_products:
                  description: When `true`, publishing this catalog includes products in `draft` status in the catalog release. When `false` or omitted, only `live` products are included in the release (default).
                  type: boolean
                  example: false
                  default: false
                  x-go-name: IncludeDraftProducts
            id:
              description: The unique identifier of the catalog to be updated.
              type: string
              x-go-name: ID
              example: 8dbb35b2-ef04-477e-974d-e5f3abe6faae
            type:
              description: This represents the type of object being returned. Always `catalog`.
              type: string
              example: catalog
              enum:
              - catalog
          required:
          - type
          - id
          - attributes
      required:
      - data
    catalog-data:
      type: object
      title: CatalogData
      description: Container for a single catalog.
      properties:
        data:
          $ref: '#/components/schemas/catalog'
        links:
          $ref: '#/components/schemas/links'
      required:
      - data
    page-meta:
      type: object
      description: Contains the results for the entire collection.
      title: PageMeta
      properties:
        results:
          description: Total number of results for the entire collection.
          type: object
          properties:
            total:
              description: Total number of results for the entire collection.
              type: integer
              format: int64
        page:
          type: object
          properties:
            limit:
              description: The maximum number of records for all pages.
              type: integer
              format: int64
            offset:
              description: The current offset by number of pages.
              type: integer
              format: int64
            current:
              description: The current number of pages.
              type: integer
              format: int64
            total:
              description: The total number of records for the entire collection.
              type: integer
              format: int64
    error:
      type: object
      title: APIError
      description: APIError is a json-api style part of an error response.
      properties:
        detail:
          type: string
          example: not processable
          x-go-name: Detail
        status:
          type: string
          example: '422'
          x-go-name: Status
        title:
          type: string
          example: There was a problem processing your request.
          x-go-name: Title
      x-go-name: APIError
    related-link:
      description: A URL to a related object, for example, catalog rules, hierarchies, price books, products and deltas.
      type: object
      properties:
        related:
          description: A URL to a related object, for example, catalog rules, hierarchies, price books, products and deltas.
          type: string
      required:
      - related
    error-response:
      type: object
      title: ErrorResponse
      description: ErrorResponse is a json-api style Error response.
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error'
          x-go-name: Errors
      x-go-name: ErrorResponse
    catalog-create-data:
      type: object
      title: CatalogCreateData
      description: Creates a catalog with the following attributes.
      properties:
        data:
          type: object
          properties:
            attributes:
              type: object
              properties:
                name:
                  description: The name of the catalog.
                  type: string
                  minLength: 1
                  example: catalog-123
                description:
                  description: A brief description of the catalog.
                  type:
                  - string
                  - 'null'
                  example: Catalog for Store 123
                hierarchy_ids:
                  description: The unique identifiers of the hierarchies to associate with a catalog.
                  type: array
                  items:
                    type: string
                pricebook_id:
                  description: 'The unique identifier of the price book to associate with this catalog. You can specify either a `pricebook_id` or `pricebook_ids` but not both. If you specify both a `pricebook_id` and `pricebook_ids`, a `422 Unprocessable Entity` error is displayed.

                    '
                  type: string
                pricebook_ids:
                  $ref: '#/components/schemas/prioritized-pricebooks'
                locales:
                  description: Product Experience Manager supports localization of products and hierarchies. If you store supports multiple languages, you can localize product names and descriptions.
                  type: object
                  additionalProperties:
                    description: A [three-letter language code](https://www.iso.org/iso-639-language-code) that represents the name of language you have used.
                    type: object
                    additionalProperties:
                      description: A [three-letter language code](https://www.iso.org/iso-639-language-code) that represents the name of language you have used.
                      type: string
                enable_price_segmentation:
                  description: This indicates whether the catalog will support price segmentation using catalog rules to define which pricebook(s) to use for pricing
                  type: boolean
                  example: true
                  default: false
                  x-go-name: EnablePriceSegmentation
                include_draft_products:
                  description: When `true`, publishing this catalog includes products in `draft` status in the catalog release. When `false` or omitted, only `live` products are included in the release (default).
                  type: boolean
                  example: false
                  default: false
                  x-go-name: IncludeDraftProducts
              required:
              - name
              - hierarchy_ids
            type:
              description: Represents the type of object being returned. Always `Catalog`.
              type: string
              example: catalog
              enum:
              - catalog
          required:
          - type
          - attributes
      required:
      - data
    catalog:
      type: object
      title: Catalog
      description: Creates a catalog with the following attributes.
      properties:
        id:
          type: string
          description: A unique identifier of a catalog.
          example: 8dbb35b2-ef04-477e-974d-e5f3abe6faae
        attributes:
          type: object
          properties:
            name:
              description: The name of a catalog.
              type: string
              example: catalog-123
            description:
              description: A brief description of the catalog, such as the purpose of the catalog.
              type: string
              example: Catalog for Store 123
              default: ''
            hierarchy_ids:
              description: The unique identifiers of the hierarchies associated with a catalog.
              type: array
              items:
                type: string
            pricebook_id:
              description: The unique identifier of a price book associated with a catalog. If no price book is selected, the catalog is displayed without prices.
              type: string
            pricebook_ids:
              $ref: '#/components/schemas/prioritized-pricebooks'
            locales:
              description: Product Experience Manager supports localization of products and hierarchies. If you store supports multiple languages, you can localize product names and descriptions.
              type: object
              additionalProperties:
                description: A [three-letter language code](https://www.iso.org/iso-639-language-code) that represents the name of language you have used.
                type: object
                additionalProperties:
                  description: A [three-letter language code](https://www.iso.org/iso-639-language-code) that represents the name of language you have used.
                  type: string
            created_at:
              description: The date and time a catalog is created.
              type: string
              example: '2020-09-22T09:00:00'
              format: date-time
            updated_at:
              description: The date and time a catalog was updated.
              type: string
              example: '2020-09-22T09:00:00'
              format: date-time
            owner:
              description: The owner of this resource, can be either `organization` or `store`.
              type:
              - string
              - 'null'
              enum:
              - store
              - organization
              x-go-name: Owner
              default: store
            enable_price_segmentation:
              description: This indicates whether the catalog will support price segmentation using catalog rules to define which pricebook(s) to use for pricing
              type: boolean
              example: true
              default: false
              x-go-name: EnablePriceSegmentation
            include_draft_products:
              description: When `true`, publishing this catalog includes products in `draft` status in the catalog release. When `false` or omitted, only `live` products are included in the release (default).
              type: boolean
              example: false
              default: false
              x-go-name: IncludeDraftProducts
          required:
          - name
          - hierarchy_ids
          - created_at
          - updated_at
        relationships:
          description: Relationships are established between different catalog entities. For example, a catalog rule and a price book are related to a catalog, as both are associated with it.
          type: object
          title: CatalogRelationships
          properties:
            rules:
              description: The catalog rules related to a catalog.
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/related-link'
            releases:
              description: When a catalog is published, a catalog release is created. This is a URL to all catalog published releases available for this catalog.
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/related-link'
                meta:
                  type: object
                  properties:
                    count:
                      description: The number releases available for a catalog.
                      type: integer
        type:
          type: string
          example: catalog
          enum:
          - catalog
      required:
      - id
      - type
      - attributes
    links:
      description: Links allow you to move between requests.
      type: object
      properties:
        self:
          description: Single entities use a `self` parameter with a link the specific resource.
          type:
          - string
          - 'null'
          format: uri
        first:
          description: Always the first page.
          type:
          - string
          - 'null'
          format: uri
        last:
          description: This is `null` if there is only one page.
          type:
          - string
          - 'null'
          format: uri
        prev:
          description: This is `null` if there is only one page.
          type:
          - string
          - 'null'
          format: uri
        next:
          description: This is `null` if there is only one page.
          type:
          - string
          - 'null'
          format: uri
    catalog-list-data:
      type: object
      title: CatalogListData
      description: Container for a list of catalogs.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/catalog'
        meta:
          $ref: '#/components/schemas/page-meta'
        links:
          $ref: '#/components/schemas/links'
      required:
      - data
  parameters:
    limit:
      description: The maximum number of records per page for this response. You can set this value up to 100. If no page size is set, the [page length](/docs/api/settings/settings-introduction#page-length) store setting is used.
      name: page[limit]
      in: query
      required: false
      schema:
        type: integer
        format: int64
        minimum: 1
    filter-catalog:
      name: filter
      in: query
      description: 'This endpoint supports filtering, see [Filtering](#filtering).

        '
      required: false
      schema:
        type: string
    offset:
      description: The current offset by number of records, not pages. Offset is zero-based. The maximum records you can offset is 10,000. You would normally increment the page offset by multiples of the page limit to paginate through the results.
      name: page[offset]
      in: query
      required: false
      schema:
        type: integer
        format: int64
        minimum: 0
        maximum: 10000
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
