openapi: 3.2.0
info:
  title: Catalog Search Introduction Indexable Fields API
  version: 26.0604.7696948
  x-version-timestamp: 2026-06-04 10:33:46+00:00
  description: Elastic Path Catalog Search provides fast, relevant product search capabilities for your published catalogs.
servers:
- url: https://euwest.api.elasticpath.com/v2
  description: EU west cluster
- url: https://useast.api.elasticpath.com/v2
  description: US east cluster
security:
- BearerToken: []
tags:
- name: Indexable Fields
  description: Indexable Fields allow you to extend and fine-tune the search schema.
paths:
  /pcm/catalogs/indexable-fields:
    post:
      tags:
      - Indexable Fields
      operationId: createIndexableFields
      summary: Create indexable fields
      description: Specify additional fields to be indexed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndexableFieldsCreateRequest'
      responses:
        '201':
          description: Successfully created indexable fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexableFieldsResponse'
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - reindexing job queued or in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
      - Indexable Fields
      operationId: listIndexableFields
      summary: List indexable fields
      description: List indexable fields.
      responses:
        '200':
          description: List indexable fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIndexableFieldsResponse'
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/indexable-fields/{indexable_fields_id}:
    parameters:
    - name: indexable_fields_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: The unique ID of the indexable fields
      example: ac107ce9-96ac-4bd5-aa3d-59f40b91279b
      x-go-name: IndexableFieldsID
    get:
      tags:
      - Indexable Fields
      operationId: getIndexableFields
      summary: Get indexable fields
      description: Get additional fields to be indexed.
      responses:
        '200':
          description: Get indexable fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexableFieldsResponse'
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Indexable fields not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
      - Indexable Fields
      operationId: updateIndexableFields
      summary: Update indexable fields
      description: Update additional fields to be indexed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndexableFieldsUpdateRequest'
      responses:
        '200':
          description: Successfully updated indexable fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexableFieldsResponse'
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied - indexable fields owned by the organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Indexable fields not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - reindexing job queued or in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
      - Indexable Fields
      operationId: deleteIndexableFields
      summary: Delete indexable fields
      description: Delete additional fields to be indexed.
      responses:
        '204':
          description: Successfully deleted indexable fields
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied - indexable fields owned by the organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - reindexing job queued or in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    IndexableFieldsRequestAttributes:
      type: object
      properties:
        fields:
          type: array
          description: A collection of indexable fields
          title: IndexableFields
          items:
            $ref: '#/components/schemas/IndexableFieldRequest'
          example:
          - name: extensions.products(clothing).color
            facetable: false
            sortable: false
            locale: en
          - name: shopper_attributes.fabric
            facetable: false
            sortable: false
          - name: admin_attributes.internal_grade
            sortable: true
        core_field_overrides:
          type: array
          description: Per-field configuration for core product fields (e.g. name, description).
          items:
            $ref: '#/components/schemas/CoreFieldOverride'
        token_separators:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 1
          description: 'Characters to use as token separators across all the index fields, in addition to spaces and newlines. Each element must be a single character. Defaults to none set.

            For example, take text `non-tech`. By default, it will be tokenized to `nontech`. So, search for `non tech` will not match the product. Set `token_separators: ["-"]`. Then it will be tokenized to `non` and `tech`. Now, search for both `non-tech` and `non tech` will match this product.

            '
        symbols_to_index:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 1
          description: 'By default, special characters are removed from fields when indexing and searching for them. Provide list of special characters that should be indexed as part of the tokens across the all index fields. Each element must be a single character. Defaults to none set.

            '
    FieldType:
      type: string
      description: The type of the field.
      enum:
      - string
      - int32
      - int64
      - bool
      - float
      example: string
      x-go-type: model.FieldType
      x-go-type-import:
        name: model
        path: gitlab.elasticpath.com/commerce-cloud/ncl-projects/paragon/catalog-search.svc/internal/domain/model
    ErrorResponse:
      required:
      - errors
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    IndexableField:
      type: object
      required:
      - name
      - type
      properties:
        name:
          type: string
          description: The name of the field.
          example: extensions.products(clothing).color
          minLength: 1
        type:
          $ref: '#/components/schemas/FieldType'
        facetable:
          type: boolean
          description: Enables faceting on the field.
          default: false
          example: true
        sortable:
          type: boolean
          description: 'When set to true, the field will be sortable. Default: true for numbers, false otherwise.'
          example: true
        locale:
          type: string
          description: 'For configuring language specific tokenization, e.g. jp for Japanese. Default: en which also broadly supports most European languages. For valid values, see [ISO 639 language codes](https://en.wikipedia.org/wiki/List_of_ISO_639_language_codes).'
          default: en
          example: en
        stem:
          $ref: '#/components/schemas/Stem'
        token_separators:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            type: string
            minLength: 1
            maxLength: 1
          description: 'Per-field token separators for this field. Overrides the collection-level token_separators for this field. An empty array defers to the collection-level setting.

            '
        symbols_to_index:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            type: string
            minLength: 1
            maxLength: 1
          description: 'Provide per-field special characters to index for this field. Overrides the collection-level symbols_to_index for this field. An empty array defers to the collection-level setting.

            '
    IndexableFieldsMeta:
      type: object
      required:
      - owner
      properties:
        owner:
          $ref: '#/components/schemas/ResourceOwner'
    IndexableFieldsResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/IndexableFields'
    CoreFieldOverride:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: 'Name of the core field to configure. Must be one of the supported core fields.

            '
          example: name
        stem:
          $ref: '#/components/schemas/Stem'
        token_separators:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            type: string
            minLength: 1
            maxLength: 1
          description: 'Per-field token separators for this core field. Overrides the collection-level token_separators for this field. An empty array defers to the collection-level setting. Each element must be a single character.

            For example, take text `non-tech`. By default, it will be tokenized to `nontech`. So, search for `non tech` will not match the product. Set `token_separators: ["-"]`. Then it will be tokenized to `non` and `tech`. Now, search for both `non-tech` and `non tech` will match this product.

            '
        symbols_to_index:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            type: string
            minLength: 1
            maxLength: 1
          description: 'By default, special characters are removed from fields when indexing and searching for them. Provide per-field special characters to index for this core field. Overrides the collection-level symbols_to_index for this field. An empty array defers to the collection-level setting. Each element must be a single character.

            '
        sortable:
          type: boolean
          description: 'When set to true, enables sorting on this core field. Only supported for specific core fields.

            '
          example: true
    IndexableFieldsUpdateRequestData:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          description: The unique identifier of the indexable fields. Must match the ID specified in the request path.
          type: string
          format: uuid
          example: 805103ff-0a37-4f83-8fe0-95a16039bd98
          x-go-name: ID
        type:
          $ref: '#/components/schemas/IndexableFieldsType'
        attributes:
          $ref: '#/components/schemas/IndexableFieldsRequestAttributes'
    IndexableFieldRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: 'The name of the field to index. Two formats are supported:


            - **Extension fields**: `extensions.products(<template_slug>).<field_name>` — indexes a field from a product extension template. The field must exist and be enabled in the flows service.

            - **Shopper attribute fields**: `shopper_attributes.<attribute_name>` — indexes a merchant-defined shopper attribute. Always typed as `string`. The attribute name must be no longer than **64 characters** and can only contain alphanumeric characters, underscores (`_`), and hyphens (`-`).

            - **Admin attribute fields**: `admin_attributes.<attribute_name>` — indexes a merchant-defined admin attribute. Always typed as `string`. The attribute name must be no longer than **64 characters** and can only contain alphanumeric characters, underscores (`_`), and hyphens (`-`).

            '
          example: extensions.products(clothing).color
          minLength: 1
        facetable:
          type: boolean
          description: Enables faceting on the field.
          default: false
          example: true
        sortable:
          type: boolean
          description: 'When set to true, the field will be sortable. Default: true for numbers, false otherwise.'
          example: true
        locale:
          type: string
          description: 'For configuring language specific tokenization, e.g. jp for Japanese. Default: en which also broadly supports most European languages. For valid values, see [ISO 639 language codes](https://en.wikipedia.org/wiki/List_of_ISO_639_language_codes).'
          default: en
          example: en
        stem:
          $ref: '#/components/schemas/Stem'
        token_separators:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            type: string
            minLength: 1
            maxLength: 1
          description: 'Per-field token separators for this field. Overrides the collection-level token_separators for this field. An empty array defers to the collection-level setting. Each element must be a single character.

            For example, take text `non-tech`. By default, it will be tokenized to `nontech`. So, search for `non tech` will not match the product. Set `token_separators: ["-"]`. Then it will be tokenized to `non` and `tech`. Now, search for both `non-tech` and `non tech` will match this product.

            '
        symbols_to_index:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            type: string
            minLength: 1
            maxLength: 1
          description: 'By default, special characters are removed from fields when indexing and searching for them. Provide per-field special characters to index for this field. Overrides the collection-level symbols_to_index for this field. An empty array defers to the collection-level setting. Each element must be a single character.

            '
    ListIndexableFieldsResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/IndexableFields'
    IndexableFieldsUpdateRequest:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/IndexableFieldsUpdateRequestData'
    Stem:
      type: boolean
      description: 'When true, enables word stemming on this field using [Snowball stemmer](https://snowballstem.org/). Stemming reduces words to their root form at index and query time, so a search for "running" will also match products containing "run", "runs", or "runner". This improves search recall for descriptive text fields where shoppers may use different word forms than those used in product data. Only valid for string-typed fields. Defaults to false.

        '
      example: true
    IndexableFieldsCreateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          properties:
            type:
              $ref: '#/components/schemas/IndexableFieldsType'
            attributes:
              $ref: '#/components/schemas/IndexableFieldsRequestAttributes'
    ResourceOwner:
      description: The resource owner, either `organization` or `store`.
      type: string
      example: organization
      enum:
      - organization
      - store
      x-go-type: tenancy.Owner
      x-go-type-import:
        path: gitlab.elasticpath.com/commerce-cloud/ncl-projects/paragon/catalog-search.svc/internal/domain/tenancy
    IndexableFieldsAttributes:
      type: object
      properties:
        fields:
          type: array
          x-go-type-skip-optional-pointer: true
          description: A collection of indexable fields
          title: IndexableFields
          items:
            $ref: '#/components/schemas/IndexableField'
          example:
          - name: extensions.products(clothing).color
            type: string
            facetable: false
            sortable: false
            locale: en
          - name: shopper_attributes.fabric
            type: string
            facetable: false
            sortable: false
          - name: admin_attributes.internal_grade
            type: string
            sortable: true
        core_field_overrides:
          type: array
          x-go-type-skip-optional-pointer: true
          description: Per-field configuration for core product fields (e.g. name, description).
          items:
            $ref: '#/components/schemas/CoreFieldOverride'
        token_separators:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            type: string
            minLength: 1
            maxLength: 1
          description: 'Characters used as token separators across the entire collection.

            '
        symbols_to_index:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            type: string
            minLength: 1
            maxLength: 1
          description: 'Characters indexed as part of tokens across the entire collection.

            '
    IndexableFields:
      type: object
      required:
      - id
      - type
      - attributes
      - meta
      properties:
        id:
          description: A unique identifier of the indexable fields.
          type: string
          format: uuid
          example: 805103ff-0a37-4f83-8fe0-95a16039bd98
          x-go-name: ID
        type:
          $ref: '#/components/schemas/IndexableFieldsType'
        attributes:
          $ref: '#/components/schemas/IndexableFieldsAttributes'
        meta:
          $ref: '#/components/schemas/IndexableFieldsMeta'
    Error:
      required:
      - status
      - title
      properties:
        status:
          type: string
          description: The HTTP response code of the error.
          example: '500'
        title:
          type: string
          description: A brief summary of the error.
          example: Internal server error
        detail:
          type: string
          description: Optional additional detail about the error.
          example: An internal error has occurred.
        meta:
          type: object
          description: Additional supporting meta data for the error.
          example:
            missing_ids:
            - e7d50bd5-1833-43c0-9848-f9d325b08be8
    IndexableFieldsType:
      description: Represents the type of object being returned. Always `catalog_search_indexable_fields`.
      type: string
      example: catalog_search_indexable_fields
      enum:
      - catalog_search_indexable_fields
  responses:
    InternalServerError:
      description: Internal server error. There was a system failure in the platform.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            internal-server-error:
              value:
                errors:
                - title: Internal Server Error
                  status: '500'
  securitySchemes:
    BearerToken:
      scheme: bearer
      type: http
