openapi: 3.2.0
info:
  title: Price Books Introduction Import a Price Book and Prices API
  version: 26.0529.7665911
  x-version-timestamp: 2026-05-29 08:15:28+00:00
  description: You can use the price books service to configure your product pricing.
servers:
- url: https://euwest.api.elasticpath.com
  description: EU West Production Server
- url: https://useast.api.elasticpath.com
  description: US East Production Server
security:
- bearerAuth: []
tags:
- name: Import a Price Book and Prices
  description: You can create and update product price books and prices in bulk, at both organization and store level, using the Price Book Import API.
paths:
  /pcm/pricebooks/import:
    post:
      tags:
      - Import a Price Book and Prices
      summary: Import a Price
      description: 'You can create and update product price books and prices in bulk, at both organization and store level, using the Price Book Import API. This is useful, for example, if you have a promotion and want to update 50,000 product prices. Rather than having to go to each price book and manually edit 50,000 prices, you can use the Price Book Import API to bulk update all your product prices at the same time, including setting different prices for different currencies.


        The API uses a JSONL file. The JSONL file can be compressed to a GZIP file. Here is an example of a JSONL file.


        The API works on a "best endeavours" approach. In other words, the API does its best to create/update the price book objects based on the file that you provide. If there are any errors, then the import is aborted, and the job fails with an error. You can then use the job results to understand what objects the API created/updated until the import failed, and to troubleshoot any errors. See Import Results.


        Price book imports are processed sequentially in the order that you send your import API requests.'
      operationId: importPricebook
      responses:
        '201':
          description: The created price book
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job-data'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response-pricebooks'
components:
  schemas:
    job:
      type: object
      title: Job
      description: Top level entity in the jobs domain model. It contains a job details.
      properties:
        id:
          type: string
          example: 0dd4e7de-006f-460f-a43e-a581f375cedc
          x-go-name: ID
        attributes:
          type: object
          properties:
            created_at:
              type: string
              format: date-time
              example: '2020-09-22T09:00:00Z'
              x-go-name: CreatedAt
            updated_at:
              type: string
              example: '2020-09-22T09:00:00Z'
              format: date-time
              x-go-name: UpdatedAt
            started_at:
              type:
              - string
              - 'null'
              format: date-time
              example: '2020-09-22T09:00:00Z'
              x-go-name: StartedAt
            completed_at:
              type:
              - string
              - 'null'
              example: '2020-09-22T09:00:00Z'
              format: date-time
              x-go-name: CompletedAt
            type:
              type: string
              example: pricebook-import
              x-go-name: Type
            status:
              type: string
              example: pending
              x-go-name: Status
          required:
          - created_at
          - updated_at
          - type
          - status
        meta:
          type: object
          properties:
            x_request_id:
              type: string
              example: 2d70776e-c2b0-4446-84e6-d08a24edfca4
              x-go-name: XRequestID
          required:
          - x_request_id
      required:
      - id
      - attributes
      - meta
      additionalProperties: false
      x-go-name: Job
    error-response-pricebooks:
      type: object
      title: ErrorResponse
      description: This is a json-api style error response
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error-pricebooks'
          x-go-name: Errors
      additionalProperties: false
      x-go-name: ErrorResponse
    error-pricebooks:
      type: object
      title: ApiError
      description: This is a json-api style part of an error response
      properties:
        detail:
          type: string
          example: The price book already exists
          x-go-name: Detail
        status:
          type: string
          example: '409'
          x-go-name: Status
        title:
          type: string
          example: conflict
          x-go-name: Title
      additionalProperties: false
      x-go-name: ApiError
    job-data:
      type: object
      title: JobData
      description: Json-api style data object containing a job.
      properties:
        data:
          $ref: '#/components/schemas/job'
      required:
      - data
      additionalProperties: false
      x-go-name: JobData
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
