openapi: 3.2.0
info:
  title: Personal Data Introduction Personal Data Related Data…
  version: '1.0'
  description: In Commerce, every change to a user’s personal data is logged.
  contact:
    name: Elastic Path
    url: https://www.elasticpath.com
    email: support@elasticpath.com
  license:
    url: https://elasticpath.dev
    name: MIT
servers:
- url: https://useast.api.elasticpath.com
  description: US East
- url: https://euwest.api.elasticpath.com
  description: EU West
security:
- bearerAuth: []
tags:
- name: Personal Data Related Data Entries
  description: 'This is a supplementary endpoint for the logs endpoint. It allows you to view all data entries that are related to the

    resource specified in the filter. For example, a user can get all data items that relate to a customer, such as addresses or user authentication info.


    This API is read only, and you cannot add, update, or delete anything using this API.


    The API only allows you to list related data items for a particular data entry (specified in the filter GET parameter).'
paths:
  /v2/personal-data/related-data-entries:
    get:
      tags:
      - Personal Data Related Data Entries
      summary: Get Personal Data Related Data Entries
      description: 'Gets a list of related data entries filtered by specific resource id and resource type.


        You can use pagination with this resource. For more information, see pagination.


        :::note


        * This request is only accessible to `client_credentials` token users with `Seller Admin`, `Support` and `IT` roles.

        * Non `client_credentials` token users cannot access this endpoint. See Permissions.

        * This request requires a filter for `resource_type` and `resource_id`.


        :::


        ## Filtering


        The following operator and attributes are **required** for filtering erasure requests.


        | Operator | Description |

        |:---------|:-----------------------------------------------------------------------------------------------------|

        | `eq` | Checks whether the values of two operands are equal. If the values are equal, the condition is true. |


        | Attribute | Type | Operator | Example |

        | :---------------- | :--- | :--- | :-------------------------------------------------------- |

        | `resource_type` | `string` | `eq` | `eq(resource_type,customer)` |

        | `resource_id` | `string` | `eq` | `eq(resource_id,0f850c15-d643-480a-a2b4-9e3c26067178)` |'
      operationId: get-related-data-entries
      parameters:
      - $ref: '#/components/parameters/PageOffset'
      - $ref: '#/components/parameters/PageLimit'
      - $ref: '#/components/parameters/Filter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RelatedDataEntry'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
              examples:
                getLogs:
                  value:
                    data:
                    - resource_id: 00000000-0000-1000-8000-111111111112
                      type: related_data_entry
                      resource_type: user-authentication-info
                    meta:
                      page:
                        limit: 20
                        offset: 0
                        current: 1
                        total: 1
                      results:
                        total: 1
                    links:
                      current: https://useast.api.elasticpath.com/v2/personal-data/related-data-entries?page[offset]=0&page[limit]=20
                      first: https://useast.api.elasticpath.com/v2/personal-data/related-data-entries?page[limit]=20&page[offset]=0
                      last: https://useast.api.elasticpath.com/v2/personal-data/related-data-entries?page[offset]=0&page[limit]=20
                      next: 'null'
                      prev: 'null'
        '400':
          $ref: '#/components/responses/BadFilterError'
        default:
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    RelatedDataEntry:
      properties:
        resource_type:
          type: string
          description: The type of a related data entry.
          example: user-authentication-info
        resource_id:
          type: string
          format: uuid
          description: The ID of a related data entry.
          example: 00000000-0000-1000-8000-111111111112
        type:
          type: string
          const: related_data_entry
          description: The type of the object. Always equal to `related_data_entry`.
    ErrorResponse:
      required:
      - errors
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    PaginationMeta:
      type: object
      required:
      - page
      - results
      properties:
        results:
          type: object
          properties:
            total:
              description: Total number of results for the entire collection.
              type: integer
              example: 1
        page:
          type: object
          properties:
            limit:
              description: The maximum number of records for all pages.
              type: integer
              example: 100
            offset:
              description: The current offset by number of pages.
              type: integer
              example: 0
            current:
              description: The current number of pages.
              type: integer
              example: 1
            total:
              description: The total number of records for the entire collection.
              type: integer
              example: 1
    Error:
      required:
      - status
      - title
      properties:
        title:
          type: string
          description: A brief summary of the error.
          examples:
          - Bad Request
        status:
          type: string
          format: string
          description: The HTTP response code of the error.
          examples:
          - '400'
        detail:
          type: string
          description: Optional additional detail about the error.
          examples:
          - The field 'name' is required
    PaginationLinks:
      required:
      - current
      - first
      - last
      - next
      - prev
      type: object
      properties:
        current:
          description: Always the current page.
          type:
          - string
          - 'null'
          format: uri
        first:
          description: Always the first page.
          type:
          - string
          - 'null'
          format: uri
        last:
          description: Always `null` if there is only one page.
          type:
          - string
          - 'null'
          format: uri
        next:
          description: Always `null` if there is only one page.
          type:
          - string
          - 'null'
        prev:
          description: Always `null` if the user is on the first page.
          type:
          - string
          - 'null'
  parameters:
    PageOffset:
      name: page[offset]
      description: The current offset by number of records, not pages. Offset is zero-based. The maximum records you can offset is 10,000. If no page size is set, the [page length](/docs/api/settings/settings-introduction#page-length) store setting is used.
      in: query
      required: false
      schema:
        type: integer
        format: int64
        minimum: 0
        maximum: 10000
        example: 0
    PageLimit:
      name: page[limit]
      description: The maximum number of records per page for this response. You can set this value up to 100. If no page size is set, the [page length](/docs/api/settings/settings-introduction#page-length) store setting is used.
      in: query
      required: false
      schema:
        type: integer
        format: int64
        minimum: 0
        example: 100
    Filter:
      name: filter
      in: query
      required: false
      description: Filter attributes. For more information, see the [Filtering](/guides/Getting-Started/filtering) section.
      schema:
        type: string
        format: string
        example: eq(resource_id,0f850c15-d643-480a-a2b4-9e3c26067178)
  responses:
    BadFilterError:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            missing-filter:
              summary: Required filter missing
              value: "{\n  \"errors\": [\n    {\n      \"detail\": \"bad filter: resource_id and resource_type are the filter fields that are both mandatory and only they are allowed\",\n      \"status\": \"400\",\n      \"title\": \"Bad Request\"\n    }\n  ]\n}\n"
    InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            internal-server-error:
              summary: Internal server error
              value: "{\n  \"errors\": [\n    {\n      \"title\": \"Internal Server Error\",\n      \"status\": \"500\",\n      \"detail\": \"there was a problem processing your request\"\n    }\n  ]\n}\n"
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
