openapi: 3.2.0
info:
  title: Account Management Introduction Account Authentication Settings API
  description: 'An Account represents the entity that participates in a Commerce transaction. Accounts can have Carts, Orders,

    Subscriptions, and Addresses.


    Each account can have multiple account members, which represent users and can transact on behalf of the account.


    In a typical B2C scenario, an account usually has a single account member. However, this functionality can also be

    used to support use cases such as family accounts, allowing multiple family members to transact on behalf of their

    shared account. In a B2B scenario, an account will have multiple members from a business unit, all of whom can

    transact on behalf of their organization.


    Accounts can be grouped together using Account Tags, and those tags can be used to apply discounts and promotions.


    ## Accounts vs Customers


    Accounts is the next generation of [Customers](/docs/customer-management/customers). Customers are not going

    anywhere, but accounts offers more capabilities. We recommend using Accounts for any of your new use cases.


    | Feature                                                                                     | Customers | Accounts |

    |---------------------------------------------------------------------------------------------|-----------|----------|

    | B2C Accounts                                                                                | ✅         | ✅        |

    | Family Accounts                                                                             | ⛔️        | ✅        |

    | B2B Accounts                                                                                | ⛔️        | ✅        |

    | Authentication: Shopper impersonation                                                       | ⛔️        | ✅        |

    | Authentication: OpenID support                                                              | ✅         | ✅        |

    | Authentication: One time passwords, and password reset                                      | ⛔️        | ✅        |

    | Authentication: Configurable token expiry                                                   | ⛔️        | ✅        |

    | Cart association                                                                            | ✅         | ✅        |

    | Shopper specific Promotions                                                                 | Limited   | ✅        |

    | Shopper specific Catalogs                                                                   | ✅         | ✅        |

    | Addresses                                                                                   | ✅         | ✅        |

    | [Personal Data Support (GDPR,CCPA,...)](/docs/api/personal-data/personal-data-introduction) | ✅         | ✅        |

    '
  contact:
    name: Elastic Path
    url: https://www.elasticpath.com
    email: support@elasticpath.com
  license:
    name: MIT
    url: assets/LICENSE
  version: 26.0208.7165720
  x-version-timestamp: 2026-02-08 16:13:08+00:00
servers:
- url: https://useast.api.elasticpath.com
  description: US East
- url: https://euwest.api.elasticpath.com
  description: EU West
security:
- BearerToken: []
tags:
- name: Account Authentication Settings
  description: You can use the Account Authentication Settings endpoint to retrieve or modify how settings controlling account and account member authentication.
  externalDocs:
    url: https://elasticpath.dev/docs/commerce-cloud/authentication/single-sign-on/account-authentication-settings
paths:
  /v2/settings/account-authentication:
    get:
      tags:
      - Account Authentication Settings
      summary: Get Account Authentication Settings
      description: Use this endpoint to view account authentication settings
      operationId: get-v2-settings-account-authentication
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAuthenticationSettingsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
      - Account Authentication Settings
      summary: Update Account Authentication Settings
      description: Use this endpoint to update account authentication settings
      operationId: put-v2-settings-account-authentication
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/AccountAuthenticationSettings'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/AccountAuthenticationSettingsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  responses:
    BadRequestError:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            bad-request-error:
              value:
                errors:
                - title: Bad Request
                  status: '400'
                  detail: 'Validation failed: field ''Name'' on the ''min'' tag.'
    UnauthorizedError:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            unauthorized-error:
              value:
                errors:
                - title: Unauthorized
                  status: '401'
    UnprocessableEntity:
      description: Unprocessable Entity
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            unprocessable-entity:
              value:
                errors:
                - title: Unprocessable Entity
                  status: '422'
                  detail: store id mismatch
    InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            internal-server-error:
              summary: Internal server error
              value:
                errors:
                - title: Internal Server Error
                  status: '500'
                  detail: there was a problem processing your request
  schemas:
    AccountAuthenticationSettingsResponse:
      type: object
      properties:
        data:
          type: object
          allOf:
          - $ref: '#/components/schemas/AccountAuthenticationSettings'
          - type: object
            properties:
              id:
                $ref: '#/components/schemas/UUID'
              relationships:
                type: object
                properties:
                  authentication_realm:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            description: The ID of the authentication realm entity.
                            type: string
                            format: uuid
                            example: 3418c54e-d768-42c1-a9db-d7afd2a18452
                          type:
                            description: The type of the authentication realm entity.
                            type: string
                            const: authentication_realm
                          links:
                            type: object
                            properties:
                              self:
                                description: A URL to the specific resource.
                                type: string
                                example: https://useast.api.elasticpath.com/v2/authentication-realms/3418c54e-d768-42c1-a9db-d7afd2a18452
              meta:
                type: object
                properties:
                  client_id:
                    description: The client ID to be used in Single Sign On authentication flows for accounts.
                    type: string
                    example: account-management
        links:
          type: object
          properties:
            self:
              description: A URL to the specific resource.
              type: string
              example: https://useast.api.elasticpath.com/v2/account_authentication_settings
    AccountAuthenticationSettings:
      type: object
      properties:
        type:
          type: string
          description: Specifies the type of object. Set this value to `account_authentication_settings`.
          const: account_authentication_settings
        enable_self_signup:
          description: Set to `true` to enable self signup.
          type: boolean
          example: true
        auto_create_account_for_account_members:
          description: This will automatically create an account for each new account member, using the account member’s name as the account name.
          type: boolean
          example: true
        account_member_self_management:
          description: Whether a user with an [Account Management Authentication Token](/docs/api/accounts/post-v-2-account-members-tokens) can update their own account member details. By default, this is `disabled`. Set to `update_only` if you want the user to be able to update their own account member details (e.g., name, email, and if applicable their username and password). The user can update their own account member details by updating their [User Authentication Info](/docs/authentication/single-sign-on/user-authentication-info-api/update-a-user-authentication-info) using the `account_member_id` retrieved from the `meta` in the response of [Generating an Account Management Authentication Token](/docs/api/accounts/post-v-2-account-members-tokens) as the `id` and find the authentication credentials to update by calling the [Get All User Authentication Password Profile Info](/docs/authentication/single-sign-on/user-authentication-password-profiles-api/get-all-user-authentication-password-profile-info) endpoint.
          type: string
          default: disabled
          enum:
          - disabled
          - update_only
        account_management_authentication_token_timeout_secs:
          description: The expiry time for Account Management Authentication Token in seconds. If you want to implement idle timout for you application, see [Implementing Idle Timeout](/guides/How-To/Accounts/implement-idle-timeout)
          type: integer
          default: 86400
          example: 86400
    ErrorResponse:
      type: object
      required:
      - errors
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    Error:
      type: object
      required:
      - status
      - title
      properties:
        title:
          type: string
          description: A brief summary of the error.
          examples:
          - Bad Request
        status:
          type: string
          format: string
          description: The HTTP response code of the error.
          examples:
          - '400'
        detail:
          type: string
          description: Optional additional detail about the error.
          examples:
          - The field 'name' is required
    UUID:
      type: string
      description: The unique identifier.
      format: uuid
      x-go-type: uuid.UUID
      x-go-type-import:
        name: uuid
        path: github.com/google/uuid
      example: deb6b25f-8451-4211-9a22-95610333df23
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
