openapi: 3.2.0
info:
  title: Account Management Introduction Account Membership Settings API
  description: 'An Account represents the entity that participates in a Commerce transaction. Accounts can have Carts, Orders,

    Subscriptions, and Addresses.


    Each account can have multiple account members, which represent users and can transact on behalf of the account.


    In a typical B2C scenario, an account usually has a single account member. However, this functionality can also be

    used to support use cases such as family accounts, allowing multiple family members to transact on behalf of their

    shared account. In a B2B scenario, an account will have multiple members from a business unit, all of whom can

    transact on behalf of their organization.


    Accounts can be grouped together using Account Tags, and those tags can be used to apply discounts and promotions.


    ## Accounts vs Customers


    Accounts is the next generation of [Customers](/docs/customer-management/customers). Customers are not going

    anywhere, but accounts offers more capabilities. We recommend using Accounts for any of your new use cases.


    | Feature                                                                                     | Customers | Accounts |

    |---------------------------------------------------------------------------------------------|-----------|----------|

    | B2C Accounts                                                                                | ✅         | ✅        |

    | Family Accounts                                                                             | ⛔️        | ✅        |

    | B2B Accounts                                                                                | ⛔️        | ✅        |

    | Authentication: Shopper impersonation                                                       | ⛔️        | ✅        |

    | Authentication: OpenID support                                                              | ✅         | ✅        |

    | Authentication: One time passwords, and password reset                                      | ⛔️        | ✅        |

    | Authentication: Configurable token expiry                                                   | ⛔️        | ✅        |

    | Cart association                                                                            | ✅         | ✅        |

    | Shopper specific Promotions                                                                 | Limited   | ✅        |

    | Shopper specific Catalogs                                                                   | ✅         | ✅        |

    | Addresses                                                                                   | ✅         | ✅        |

    | [Personal Data Support (GDPR,CCPA,...)](/docs/api/personal-data/personal-data-introduction) | ✅         | ✅        |

    '
  contact:
    name: Elastic Path
    url: https://www.elasticpath.com
    email: support@elasticpath.com
  license:
    name: MIT
    url: assets/LICENSE
  version: 26.0208.7165720
  x-version-timestamp: 2026-02-08 16:13:08+00:00
servers:
- url: https://useast.api.elasticpath.com
  description: US East
- url: https://euwest.api.elasticpath.com
  description: EU West
security:
- BearerToken: []
tags:
- name: Account Membership Settings
  description: 'Account Membership Settings allow Account Members to be associated to, at most, N accounts at a time. You can set this value to any number up to 10,000. The default value is 10,000.


    This setting is only applied to new account memberships. If an account member is added to 3 accounts, and the setting is reduced to 1, the account member remains in the 3 accounts and can no longer be added to more.

    '
  externalDocs:
    url: https://elasticpath.dev/docs/commerce-cloud/accounts/account-membership-settings
paths:
  /v2/settings/account-membership:
    get:
      tags:
      - Account Membership Settings
      summary: Get Account Membership Settings
      description: Use this endpoint to get all account membership settings.
      operationId: get-v2-settings-account-membership
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMembershipSettings'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
      - Account Membership Settings
      summary: Update Account Membership Settings
      description: Use this endpoint to update account membership settings.
      operationId: put-v2-settings-account-membership
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountMembershipSettings'
            examples:
              Update account membership limit:
                value:
                  data:
                    type: account_membership_setting
                    membership_limit: 1000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMembershipSettings'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  responses:
    BadRequestError:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            bad-request-error:
              value:
                errors:
                - title: Bad Request
                  status: '400'
                  detail: 'Validation failed: field ''Name'' on the ''min'' tag.'
    UnauthorizedError:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            unauthorized-error:
              value:
                errors:
                - title: Unauthorized
                  status: '401'
    InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            internal-server-error:
              summary: Internal server error
              value:
                errors:
                - title: Internal Server Error
                  status: '500'
                  detail: there was a problem processing your request
  schemas:
    AccountMembershipSettings:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              description: Specifies the type of object. Set this value to `account_membership_setting`.
              example: account_membership_setting
              enum:
              - account_membership_setting
            membership_limit:
              type: integer
              description: The number of accounts an account member can be associated with. You can set this value to any number up to 10,000.
              example: 100
    ErrorResponse:
      type: object
      required:
      - errors
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    Error:
      type: object
      required:
      - status
      - title
      properties:
        title:
          type: string
          description: A brief summary of the error.
          examples:
          - Bad Request
        status:
          type: string
          format: string
          description: The HTTP response code of the error.
          examples:
          - '400'
        detail:
          type: string
          description: Optional additional detail about the error.
          examples:
          - The field 'name' is required
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
