openapi: 3.2.0
info:
  title: Promotions Standard Introduction Promotion Jobs API
  description: Promotions Standard offer the flexibility to provide different types of discounts to all your customers or specific customers.
  contact:
    name: Elastic Path
    url: https://elasticpath.com
  license:
    name: MIT
    url: assets/LICENSE
  version: 26.0504.7552059
  x-version-timestamp: 2026-05-04 17:39:21+00:00
servers:
- url: https://useast.api.elasticpath.com
  description: US East Production Server
  variables: {}
- url: https://euwest.api.elasticpath.com
  description: EU West Production Server
  variables: {}
security:
- bearerAuth: []
tags:
- name: Promotion Jobs
  description: Use Jobs API to initiate a job within a promotion.
paths:
  /v2/promotions/{promotionID}/jobs:
    parameters:
    - $ref: '#/components/parameters/Authorization'
    get:
      summary: Get Promotion Jobs
      description: 'Retrieves the list of jobs for a specific promotion.


        In the response example, you can see the `result.generated` field, which indicates the number of codes generated during the job processing. Additionally, you may also see the optional `result.deleted` field, indicating the number of codes deleted during the job cancellation. The parameters and result objects are shown only when `job_type` is `code_generate`.


        ### Filtering


        The following operators and attributes are available when filtering on this endpoint.


        | Attribute | Type | Operator | Example |

        | ----------| ----- | -------- | ------ |

        | `job_type` | `string` | `eq` | `eq(job_type, code_export)` |

        | `status` | `string` | `eq` | `eq(status, complete)` |


        ### Errors


        If an error occurs during job processing, the response includes an optional error field. For example, when you `GET` promotion jobs, the following response shows the details within the error field if an error occurred during job processing.


        ```json

        {

        "data": [

        {

        "type": "promotion_job",

        "id": "84d86114-a92d-4c34-92f1-3e36ef6cabeb",

        "promotion_id": "ad386702-e780-42c6-b190-0527ad768917",

        "job_type": "code_generate",

        "name": "job",

        "parameters": {

        "number_of_codes": 1000,

        "consume_unit": "per_cart",

        "max_uses_per_code": 1,

        "code_length": 8,

        "code_prefix": "promo-"

        },

        "status": "failed",

        "error": "codes limit exceeded",

        "meta": {

        "timestamps": {

        "created_at": "2023-12-06T13:52:29.587Z",

        "updated_at": "2023-12-06T13:54:49.133Z"

        }

        }

        }

        ],

        "links": {

        "current": "https://useast.api.elasticpath.com/v2/promotions/ad386702-e780-42c6-b190-0527ad768917/jobs?page[offset]=0&page[limit]=25",

        "first": "https://useast.api.elasticpath.com/v2/promotions/ad386702-e780-42c6-b190-0527ad768917/jobs?page[offset]=0&page[limit]=25",

        "last": "https://useast.api.elasticpath.com/v2/promotions/ad386702-e780-42c6-b190-0527ad768917/jobs?page[offset]=0&page[limit]=25",

        "prev": "https://useast.api.elasticpath.com/v2/promotions/ad386702-e780-42c6-b190-0527ad768917/jobs?page[offset]=0&page[limit]=25",

        "next": "https://useast.api.elasticpath.com/v2/promotions/ad386702-e780-42c6-b190-0527ad768917/jobs?page[offset]=0&page[limit]=25"

        },

        "meta": {

        "page": {

        "limit": 25,

        "offset": 0,

        "current": 1,

        "total": 1

        },

        "results": {

        "total": 1

        }

        }

        }

        ```'
      tags:
      - Promotion Jobs
      parameters:
      - name: promotionID
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier of a promotion.
      - name: filter
        in: query
        required: false
        schema:
          type: string
        description: Specifies the filter attributes.
      responses:
        '200':
          $ref: '#/components/responses/PromotionJobsListResponse'
      security:
      - bearerAuth: []
      operationId: getV2PromotionsByPromotionIDJobs
      x-operation-id-source: derived
    post:
      summary: Create a Promotion Job
      description: Use this endpoint to create an asynchronous job to generate codes and export promotion codes.
      tags:
      - Promotion Jobs
      parameters:
      - name: promotionID
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier of a promotion.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  description: Must be set to `promotion_job`.
                  type: string
                  example: promotion_job
                job_type:
                  description: Specifies the type of task you want to run. For example, `code_generate` to generate codes or `code_export` to export codes.
                  type: string
                  enum:
                  - code_generate
                  - code_export
                name:
                  type: string
                  description: Represents the name of the job. The maximum allowed length is 50.
                  maxLength: 50
                parameters:
                  type: object
                  properties:
                    number_of_codes:
                      type: integer
                      description: Specifies the number of codes to be generated. It cannot be greater than the maximum number of codes per promotion, which defaults at 1000.
                      maximum: 1000
                    max_uses_per_code:
                      type: integer
                      description: Specifies the maximum number of usages of a code. If set to zero, you cannot use this promotion. If no value is set, it can be used unlimited times.
                    consume_unit:
                      type: string
                      description: Specifies whether the usage limitation is at the item-level or cart-level.
                      enum:
                      - per_item
                      - per_cart
                    code_prefix:
                      type: string
                      description: Indicates the prefix to include with the promotion code. For example, when the generated value is *aa2b-3c4d* and the prefix value is set as *summer*, the promotion code becomes *summer-aa2b-3c4d*.
                    code_length:
                      type: integer
                      description: Specifies the code length, which ranges from 8 to 16 characters. The default code length is eight characters, and a dash is added after every four characters in the code. For example, *aa2b-3c4d*.
            examples:
              generate-promotion-codes:
                summary: Generate Promotion Codes Job
                value:
                  type: promotion_job
                  job_type: code_generate
                  name: Summer Sale Job
                  parameters:
                    number_of_codes: 1
                    max_uses_per_code: 1
                    consume_unit: per_cart
                    code_prefix: Summer-
                    code_length: 10
              export-promotion-codes:
                summary: Export Promotion Codes Job
                value:
                  type: promotion_job
                  job_type: code_export
                  name: Export Codes Job
      responses:
        '201':
          $ref: '#/components/responses/PromotionJobCreatedResponse'
      security:
      - bearerAuth: []
      operationId: postV2PromotionsByPromotionIDJobs
      x-operation-id-source: derived
  /v2/promotions/{promotionID}/jobs/{jobID}/cancel:
    parameters:
    - $ref: '#/components/parameters/Authorization'
    post:
      summary: Cancel a Job
      description: Cancels an asynchronous job whose status is pending or processing.
      tags:
      - Promotion Jobs
      parameters:
      - name: promotionID
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier of a promotion.
      - name: jobID
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier of a job to be canceled.
      responses:
        '200':
          $ref: '#/components/responses/PromotionJobCanceledResponse'
      security:
      - bearerAuth: []
      operationId: postV2PromotionsByPromotionIDJobsByJobIDCancel
      x-operation-id-source: derived
  /v2/promotions/{promotionID}/jobs/{jobID}/file:
    parameters:
    - $ref: '#/components/parameters/Authorization'
    get:
      summary: Get Promotion Code Exported File
      description: Retrieves exported codes in a CSV format.
      tags:
      - Promotion Jobs
      parameters:
      - name: promotionID
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier of a promotion.
      - name: jobID
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier of a job associated with the file.
      responses:
        '200':
          $ref: '#/components/responses/PromotionCodeExportedFileResponse'
      security:
      - bearerAuth: []
      operationId: getV2PromotionsByPromotionIDJobsByJobIDFile
      x-operation-id-source: derived
components:
  responses:
    PromotionCodeExportedFileResponse:
      description: Successful response
      content:
        application/json:
          schema:
            type: object
            properties:
              href:
                type: string
                description: URL to download the CSV file.
    PromotionJobsListResponse:
      description: Successful response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/PromotionJob'
    PromotionJobCreatedResponse:
      description: Promotion job created
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                $ref: '#/components/schemas/PromotionJob'
    PromotionJobCanceledResponse:
      description: Job canceled successfully
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                $ref: '#/components/schemas/PromotionJob'
  schemas:
    PromotionJob:
      type: object
      properties:
        id:
          type: string
          description: A unique ID generated when a job is created.
        type:
          description: Always `promotion_job`.
          type: string
          example: promotion_job
        promotion_id:
          description: A unique ID of a promotion.
          type: string
        job_type:
          description: The type of job you want to run. For example, `code_generate` to generate codes or `code_export` to export codes.
          type: string
        name:
          description: The name of the job. The maximum length allowed is 50 characters.
          type: string
        parameters:
          type: object
        status:
          description: The status of the job. See [Overview](/docs/api/promotions/promotion-jobs).
          type: string
        meta:
          type: object
          properties:
            timestamps:
              type: object
              properties:
                created_at:
                  description: The creation date of the job.
                  type: string
                  format: date-time
                updated_at:
                  description: The last updated date of the job.
                  type: string
                  format: date-time
  parameters:
    Authorization:
      name: Authorization
      in: header
      description: The Bearer token required to get access to the API.
      required: true
      schema:
        type: string
        format: Bearer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
