openapi: 3.2.0
info:
  title: Service Introduction Flows API
  version: 25.1201.6902711
  x-version-timestamp: 2025-12-01 12:04:04+00:00
  description: With flows you can extend the capabilities of Commerce and Product Experience Manager at both organization and store level, and apply Composable Commerce to almost any use case.
servers:
- url: https://euwest.api.elasticpath.com
  description: EU West Production Server
- url: https://useast.api.elasticpath.com
  description: US East Production Server
security:
- bearerAuth: []
tags:
- name: Flows
  description: '### Flows in Commerce


    There are two scenarios for using flows:


    - Extend an existing resource, such as customers and orders.'
paths:
  /v2/flows:
    get:
      tags:
      - Flows
      summary: Get all Flows
      description: '- For Commerce, this endpoint retrieves a list of flows.

        - For Product Experience Manager, this endpoint retrieves a list of templates.'
      operationId: getAllFlows
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Flows'
              examples:
                default:
                  value:
                    data:
                    - id: 6d320b42-237d-4474-8452-d49f884d4ae1
                      type: flow
                      name: Products-1
                      slug: products-1
                      description: Extends the default product object
                      enabled: true
                      links:
                        self: https://useast.api.elasticpath.com/v2/flows/6d320b42-237d-4474-8452-d49f884d4ae1
                      relationships: {}
                      meta:
                        owner: organization
                        timestamps:
                          created_at: '2018-05-10T18:04:26.623Z'
                          updated_at: '2018-05-10T18:04:26.623Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
      - Flows
      summary: Create a Flow
      description: '- For Commerce, this endpoint creates a flow.

        - For Product Experience Manager, this endpoint creates a template.


        :::caution


        Custom names and values prefixed with $ are not supported.


        :::'
      operationId: createAFlow
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/FlowsRequest'
              - examples:
                - data:
                    description: Extends the default product object
                    enabled: true
                    name: Products
                    slug: products
                    type: flow
              contentMediaType: application/json
            examples:
              default:
                value:
                  data:
                    description: Extends the default product object
                    enabled: true
                    name: Products
                    slug: products
                    type: flow
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Flows'
              examples:
                default:
                  value:
                    data:
                      id: 6d320b42-237d-4474-8452-d49f884d4ae1
                      type: flow
                      name: Products-1
                      slug: products-1
                      description: Extends the default product object
                      enabled: true
                      links:
                        self: https://useast.api.elasticpath.com/v2/flows/6d320b42-237d-4474-8452-d49f884d4ae1
                      relationships: {}
                      meta:
                        owner: organization
                        timestamps:
                          created_at: '2018-05-10T18:04:26.623Z'
                          updated_at: '2018-05-10T18:04:26.623Z'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v2/flows/{flowID}:
    get:
      tags:
      - Flows
      summary: Get a Flow
      description: '- For Commerce, this endpoint retrieves a flow.

        - For Product Experience Manager, this endpoint retrieves a template.'
      operationId: getAFlow
      parameters:
      - name: flowID
        description: The unique identifier of the flow/template you want to retrieve.
        in: path
        required: true
        style: simple
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Flows'
              examples:
                default:
                  value:
                    data:
                      id: 38ba1451-efa4-4361-9ca6-3fb646490f37
                      type: flow
                      name: extraFieldRenamed
                      slug: products
                      description: Extends the default product object
                      enabled: true
                      links:
                        self: https://useast.api.elasticpath.com/v2/flows/38ba1451-efa4-4361-9ca6-3fb646490f37
                      relationships: {}
                      meta:
                        owner: organization
                        timestamps:
                          created_at: '2018-05-10T01:41:36.009Z'
                          updated_at: '2018-05-10T15:27:26.241Z'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
      - Flows
      summary: Delete a Flow
      description: '- For Commerce, this endpoint deletes a flow. We recommend that you remove all the fields assigned to a flow before deleting a flow.

        - For Product Experience Manager, this endpoint deletes a template. We recommend that you remove all the attributes assigned to a template before deleting a template.'
      operationId: deleteAFlow
      parameters:
      - name: flowID
        description: The unique identifier of the flow/template you want to delete.
        in: path
        required: true
        style: simple
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
      - Flows
      summary: Update a Flow
      description: '- For Commerce, this endpoint updates a flow.

        - For Product Experience Manager, this endpoint updates a template.


        Specify whichever attributes you want to change. The values of the other attributes remain the same. If the attributes section is empty, the flow/template is not updated.'
      operationId: updateAFlow
      parameters:
      - name: flowID
        description: The unique identifier of the flow/template you want to update.
        in: path
        required: true
        style: simple
        schema:
          $ref: '#/components/schemas/UUID'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/FlowsUpdateRequest'
              contentMediaType: application/json
            examples:
              default:
                value:
                  data:
                    id: 25617d3e-14a6-434c-bfab-3fda87517aaf
                    description: Extends the default product object
                    enabled: true
                    name: Products
                    slug: products
                    type: flow
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Flows'
              examples:
                default:
                  value:
                    data:
                      id: 6d320b42-237d-4474-8452-d49f884d4ae1
                      type: flow
                      name: extraFieldRenamed
                      slug: products-1
                      description: Extends the default product object
                      enabled: true
                      links:
                        self: https://useast.api.elasticpath.com/v2/flows/6d320b42-237d-4474-8452-d49f884d4ae1
                      relationships: {}
                      meta:
                        owner: store
                        timestamps:
                          created_at: '2018-05-10T18:04:26.623Z'
                          updated_at: '2018-05-10T18:11:47.469Z'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  responses:
    ValidationError:
      description: Bad request. The request failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            missing-name:
              value:
                errors:
                - title: Validation Error
                  status: 400
                  detail: 'data.attributes.name: "name" is required'
    NotFound:
      description: Bad request. Not Found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            internal-server-error:
              value:
                errors:
                - title: Not Found
                  status: 404
    InternalServerError:
      description: Internal server error. There was a system failure in the platform.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            internal-server-error:
              value:
                errors:
                - status: 500
                  title: Internal Server Error
                  detail: There was an internal server error, you can report with your request id.
                  request_id: 635da56d-75a1-43cd-b696-7ab119756b3a
  schemas:
    ErrorResponse:
      required:
      - errors
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    UUID:
      type: string
      description: A unique identifier for a resource.
      format: uuid
      example: 00000000-0000-0000-0000-000000000000
    FlowsRelationships:
      type: object
      description: Relationships are established between different flows/templates entities. For example, a field and an entry are related to a flow as both are attached to it.
      properties:
        fields:
          type: object
          properties:
            data:
              $ref: '#/components/schemas/Relationships'
    FlowsUpdateRequest:
      title: FlowsUpdateRequest
      type: object
      properties:
        data:
          type: object
          properties:
            description:
              type: string
              description: A brief description of a flow/template outlining details such as purpose, usage instructions, and so on.
              examples:
              - Extends the default product object
            enabled:
              type: boolean
              examples:
              - true
            name:
              type: string
              description: The name of a flow/template.
              examples:
              - Products
            id:
              $ref: '#/components/schemas/UUID'
            slug:
              type: string
              description: A unique slug identifier for a flow/template.
              examples:
              - products
            type:
              type: string
              description: Represents the type of object being returned.
              examples:
              - flow
    Flows:
      title: Flows
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        type:
          type: string
          description: A unique identifier for a flow/template.
          example: flow
        name:
          type: string
          description: The name of a flow/template.
          example: Products
        slug:
          type: string
          description: A unique identifier of a flow/template.
          example: products
        description:
          type: string
          description: A short description for a flow/template.
          example: Extends the default product object
        enabled:
          type: boolean
          example: true
        links:
          $ref: '#/components/schemas/FlowsLinks'
        relationships:
          $ref: '#/components/schemas/FlowsRelationships'
        meta:
          $ref: '#/components/schemas/Meta'
    Error:
      required:
      - status
      - title
      properties:
        status:
          type: integer
          format: int
          description: The HTTP response code of the error.
          example: 500
        title:
          type: string
          description: A brief summary of the error.
          example: Internal server error
        detail:
          type: string
          description: Optional additional detail about the error.
          example: An internal error has occurred.
        request_id:
          type: string
          description: Internal request ID.
          example: 00000000-0000-0000-0000-000000000000
        meta:
          type: object
          description: Additional supporting meta data for the error.
          example:
            missing_ids:
            - e7d50bd5-1833-43c0-9848-f9d325b08be8
    Meta:
      type: object
      properties:
        owner:
          type: string
          description: The resource owner, either `organization` or `store`.
          example: enum
          enum:
          - store
          - organization
        timestamps:
          type: object
          properties:
            created_at:
              type: string
              description: The date and time a resource is created.
              example: '2023-10-11T13:02:25.293Z'
            updated_at:
              type: string
              description: The date and time a resource is updated.
              example: '2023-10-11T13:02:25.293Z'
    FlowsLinks:
      type: object
      description: "Links allow you to move between requests. Single entities use a `self` parameter with a link to that specific resource. Listing pages use the following:\n \n | Property | Description |\n | --- | --- |\n | `current` | Always the current page |\n | `first` | Always the first page |\n | `last` | `null` if there is only one page. |\n | `prev` | `null` if you are on the first page. |\n | `next` | `null` if there is only one page. |\n"
      properties:
        self:
          type: string
          example: https://euwest.api.elasticpath.com/v2/flows/d2a9b22a-b4b0-456b-bbc7-d8723aaffa84
    Relationships:
      title: Relationships
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        type:
          type: string
          description: Represents the type of object being returned.
          example: brand
    FlowsRequest:
      title: FlowsRequest
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - name
          - slug
          - enabled
          - description
          properties:
            description:
              type: string
              description: A brief description of a flow/template outlining details such as purpose, usage instructions and so on.
              examples:
              - A flow to extend the `customer` resource.
              - A SizeGuide template for the clothing that we sell.
            enabled:
              type: boolean
              examples:
              - true
            name:
              type: string
              description: The name of a flow/template.
              examples:
              - Products
            slug:
              type: string
              description: A unique slug identifier for a flow/template.
              examples:
              - products
            type:
              type: string
              description: Represents the type of object being returned.
              examples:
              - flow
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
