openapi: 3.1.0
info:
  version: 25.1126.6886238
  x-version-timestamp: 2025-11-26 19:10:23+00:00
  title: Addresses Introduction Account Addresses Standard User Roles API
  description: 'The Addresses API allows you to organize account addresses. Addresses are a sub-resource of `account` resources, an account can have multiple addresses, such as home, work, and neighbour.


    You can use an account address with either [client_credentials access token](/docs/api/authentication/create-an-access-token) or a combination of [implicit access token](/docs/api/authentication/create-an-access-token) and [Account Management authentication](/docs/api/accounts/post-v-2-account-members-tokens) token.

    '
  contact:
    name: Elastic Path
    url: https://www.elasticpath.com
    email: support@elasticpath.com
  license:
    url: https://elasticpath.dev
    name: MIT
servers:
- url: https://useast.api.elasticpath.com
  description: US East
- url: https://euwest.api.elasticpath.com
  description: EU West
security:
- BearerToken: []
tags:
- name: Standard User Roles
  description: 'Standard User Roles represent the roles that can be assigned to users through Commerce Manager. These roles define the level of access a user has to Commerce Manager.

    '
paths:
  /v2/permissions/standard-user-roles:
    get:
      tags:
      - Standard User Roles
      summary: List Standard User Roles
      operationId: ListStandardUserRoles
      description: 'Retrieves a list of Standard User Roles

        '
      responses:
        '200':
          $ref: '#/components/responses/ListOfStandardUserRoles'
        '400':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v2/permissions/standard-user-roles/{standard-user-role-id}:
    parameters:
    - $ref: '#/components/parameters/StandardUserRoleID'
    get:
      tags:
      - Standard User Roles
      summary: Get a Standard User Role
      operationId: GetAStandardUserRole
      description: Get a Standard User Role
      responses:
        '200':
          $ref: '#/components/responses/StandardUserRole'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    LinkURI:
      type:
      - string
      - 'null'
      format: uri
    Errors:
      required:
      - errors
      properties:
        errors:
          type: array
          items:
            type: object
            required:
            - status
            - title
            properties:
              status:
                type: string
                description: The HTTP response code of the error.
                format: string
                examples:
                - '400'
              title:
                type: string
                description: A brief summary of the error.
                examples:
                - Bad Request
              detail:
                type: string
                description: Optional additional detail about the error.
                examples:
                - The field 'name' is required
    StandardUserRole:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the Standard User Role.
        type:
          type: string
          description: Specifies the type of the resource object, use `standard_user_role` for Standard User Roles.
          const: standard_user_role
        name:
          type: string
          description: Specifies the name of the Standard User Role.
        access_levels:
          type: object
          description: Specifies the access levels for each permission group.
          properties:
            accounts:
              type: string
              description: The access level for Accounts.
              enum:
              - none
              - view
              - manage
            application_keys:
              type: string
              description: The access level for Application Keys.
              enum:
              - none
              - view
              - manage
            authentication:
              type: string
              description: The access level for Authentication.
              enum:
              - none
              - view
              - manage
            catalog_releases:
              type: string
              description: The access level for Catalog Releases.
              enum:
              - none
              - view
              - manage
            catalogs:
              type: string
              description: The access level for Catalogs.
              enum:
              - none
              - view
              - manage
            composer:
              type: string
              description: The access level for Composer.
              enum:
              - none
              - manage
            currencies:
              type: string
              description: The access level for Currencies.
              enum:
              - none
              - view
              - manage
            custom_apis:
              type: string
              description: The access level for Custom APIs.
              enum:
              - none
              - view
              - manage
            flows:
              type: string
              description: The access level for Flows.
              enum:
              - none
              - view
              - manage
            legacy_catalogs:
              type: string
              description: The access level for Legacy Catalogs.
              enum:
              - none
              - view
              - manage
            metrics:
              type: string
              description: The access level for Metrics.
              enum:
              - none
              - view
            orders:
              type: string
              description: The access level for Orders.
              enum:
              - none
              - view
              - manage
            payment_gateways:
              type: string
              description: The access level for Payment Gateways.
              enum:
              - none
              - view
              - manage
            personal_data:
              type: string
              description: The access level for Personal Data.
              enum:
              - none
              - view
              - manage
            price_books:
              type: string
              description: The access level for Price Books.
              enum:
              - none
              - view
              - manage
            products:
              type: string
              description: The access level for Products.
              enum:
              - none
              - view
              - manage
            promotions:
              type: string
              description: The access level for Promotions.
              enum:
              - none
              - view
              - manage
            settings:
              type: string
              description: The access level for Settings.
              enum:
              - none
              - view
              - manage
            subscription_billing:
              type: string
              description: The access level for Subscription Billing.
              enum:
              - none
              - view
              - manage
            subscription_jobs:
              type: string
              description: The access level for Subscription Jobs.
              enum:
              - none
              - view
              - manage
            subscription_offerings:
              type: string
              description: The access level for Subscription Offerings.
              enum:
              - none
              - view
              - manage
            subscription_subscribers:
              type: string
              description: The access level for Subscription Subscribers.
              enum:
              - none
              - view
              - manage
            team:
              type: string
              description: The access level for Team.
              enum:
              - none
              - view
              - manage
            webhooks:
              type: string
              description: The access level for Webhooks.
              enum:
              - none
              - view
              - manage
        links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/LinkURI'
              description: Specifies the URI of the Standard User Role.
              example: /v2/permissions/standard-user-roles/it-developer
  parameters:
    StandardUserRoleID:
      name: standard-user-role-id
      description: The ID of the Standard User Role.
      in: path
      required: true
      schema:
        type: string
      example: it-developer
  responses:
    ListOfStandardUserRoles:
      description: List of Standard User Roles
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/StandardUserRole'
    NotFoundError:
      description: Not found. The requested entity does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          examples:
            not-found:
              summary: Requested entity not found
              value: "{\n  \"errors\": [\n    {\n      \"title\": \"Not Found\",\n      \"status\": \"404\",\n      \"detail\": \"Not found\"\n    }\n  ]\n}\n"
    StandardUserRole:
      description: A Standard User Role
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                $ref: '#/components/schemas/StandardUserRole'
    ValidationError:
      description: Bad request. The request failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          examples:
            missing-name:
              summary: Required field missing
              value: "{\n  \"errors\": [\n    {\n      \"title\": \"Bad Request\",\n      \"status\": \"400\",\n      \"detail\": \"The field 'name' is required.\"\n    }\n  ]\n}\n"
    InternalServerError:
      description: Internal server error. There was a system failure in the platform.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          examples:
            internal-server-error:
              summary: Internal server error
              value: "{\n  \"errors\": [\n    {\n      \"title\": \"Internal Server Error\",\n      \"status\": \"500\",\n      \"detail\": \"there was a problem processing your request\"\n    }\n  ]\n}\n"
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
