openapi: 3.2.0
info:
  title: Product Experience Manager Introduction Product Image…
  description: Product Experience Manager uses the PIM service to manage product information, hierarchies, and price books.
  version: 26.0612.7739142
  x-version-timestamp: 2026-06-12 10:52:50+00:00
servers:
- url: https://euwest.api.elasticpath.com
  description: EU West Production Server
- url: https://useast.api.elasticpath.com
  description: US East Production Server
security:
- bearerAuth: []
tags:
- name: Product Image Relationships
  description: 'Products are the items or services that you might want to sell in your store. In Product Experience Manager, products can also have associated rich media assets, such as product images or a file containing additional product details.


    You can do this using Files API.


    Once you have created your files, you associate files with your products using the Create Product Main Image Relationships API.'
paths:
  /pcm/products/{productID}/relationships/main_image:
    post:
      summary: Create main image relationships
      description: Associates a main image with the specified product.
      operationId: createProductMainImageRelationships
      tags:
      - Product Image Relationships
      parameters:
      - $ref: '#/components/parameters/product_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/main_image_request'
            examples:
              create-product-main-image-relationship:
                value:
                  data:
                    type: file
                    id: 3ab3deca-1f11-47b7-a409-24ea3234d72c
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/write_conflict'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
    get:
      summary: Get Main Image Relationships
      operationId: getProductMainImageRelationships
      tags:
      - Product Image Relationships
      parameters:
      - $ref: '#/components/parameters/product_id'
      responses:
        '200':
          description: Returns all product variation relationships
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/main_image_response'
              examples:
                product-main-image-relationships:
                  value:
                    data:
                      type: file
                      id: file-1
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/write_conflict'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
    put:
      summary: Replace Main Image Relationships
      operationId: updateProductMainImageRelationships
      tags:
      - Product Image Relationships
      parameters:
      - $ref: '#/components/parameters/product_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/replace_main_image_request'
            examples:
              replace-main-image-relationship:
                value:
                  data:
                    type: file
                    id: 3ab3deca-1f11-47b7-a409-24ea3234d72c
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/write_conflict'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
    delete:
      summary: Delete Main Image Relationships
      operationId: deleteProductMainImageRelationships
      tags:
      - Product Image Relationships
      parameters:
      - $ref: '#/components/parameters/product_id'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/write_conflict'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
components:
  parameters:
    product_id:
      name: productID
      in: path
      schema:
        type: string
        example: 00000000-0000-0000-0000-000000000000
        x-postman-example: '{{productID}}'
      required: true
      description: A unique identifier for the product.
  schemas:
    main_image_request:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              description: The ID of the image file.
              example: 00000000-0000-0000-0000-000000000000
            type:
              description: This represents the type of resource being returned. Always `file`.
              type: string
              enum:
              - file
    error:
      required:
      - errors
      properties:
        errors:
          type: array
          items:
            required:
            - status
            - title
            properties:
              status:
                type: string
                description: The HTTP response code of the error.
                example: '500'
              title:
                type: string
                description: A brief summary of the error.
                example: Internal server error
              detail:
                type: string
                description: Optional additional detail about the error.
                example: An internal error has occurred.
              request_id:
                type: string
                description: Internal request ID.
                example: 00000000-0000-0000-0000-000000000000
              meta:
                type: object
                description: Additional supporting meta data for the error.
                example:
                  missing_ids:
                  - e7d50bd5-1833-43c0-9848-f9d325b08be8
    main_image_response:
      type: object
      properties:
        data:
          description: A file object representing the main image, or null if no main image is set.
          type:
          - object
          - 'null'
          properties:
            id:
              description: A unique identifier for the image file generated automatically when a file is created.
              type: string
            type:
              description: This represents the type of resource object being returned. Always `file`.
              type: string
              enum:
              - file
    replace_main_image_request:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              description: The ID of the new image file.
              example: 00000000-0000-0000-0000-000000000000
            type:
              type: string
              enum:
              - file
  responses:
    internal:
      description: Internal server error. There was a system failure in the platform.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            internal-server-error:
              value:
                errors:
                - status: '500'
                  title: Internal Server Error
                  detail: There was an internal server error, you can report with your request id.
                  request_id: 635da56d-75a1-43cd-b696-7ab119756b3a
    not_found:
      description: Bad Request. Not Found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            internal-server-error:
              value:
                errors:
                - title: Not Found
                  status: '404'
    bad_request:
      description: Bad request. The request failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            bad-request:
              value:
                errors:
                - title: Bad Request
                  detail: Could not parse the supplied filter
                  status: '400'
    unprocessable_entity:
      description: Bad request. The request failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            failed-validation:
              value:
                errors:
                - title: Failed Validation
                  status: '422'
                  detail: <XYZ> can not be empty
    forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            internal-server-error:
              value:
                errors:
                - title: Forbidden
                  status: '403'
                  detail: entity owned by organization
    write_conflict:
      description: Write conflict detected
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            internal-server-error:
              value:
                errors:
                - title: Conflict
                  status: '409'
                  detail: write conflict detected
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
