openapi: 3.2.0
info:
  title: Catalog Search Introduction Search Indexes API
  version: 26.0604.7696948
  x-version-timestamp: 2026-06-04 10:33:46+00:00
  description: Elastic Path Catalog Search provides fast, relevant product search capabilities for your published catalogs.
servers:
- url: https://euwest.api.elasticpath.com/v2
  description: EU west cluster
- url: https://useast.api.elasticpath.com/v2
  description: US east cluster
security:
- BearerToken: []
tags:
- name: Search Indexes
  description: Search Indexes represent the indexed data for your catalog releases.
paths:
  /pcm/catalogs/search-indexes:
    get:
      tags:
      - Search Indexes
      operationId: listSearchIndexes
      summary: List search indexes
      description: List search indexes.
      parameters:
      - name: out_of_sync
        in: query
        description: Filter search indexes by out of sync status
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: List search indexes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSearchIndexesResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    ListResponseMeta:
      type: object
      required:
      - results
      properties:
        results:
          $ref: '#/components/schemas/ListResponseMetaResults'
    ListResponseMetaResults:
      description: Contains the results for the entire collection.
      type: object
      required:
      - total
      properties:
        total:
          description: Total number of results for the entire collection.
          type: integer
          example: 100
    ListSearchIndexesResponse:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SearchIndex'
        meta:
          $ref: '#/components/schemas/ListResponseMeta'
    ErrorResponse:
      required:
      - errors
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    SearchIndexType:
      description: Represents the type of object being returned. Always `catalog_search_index`.
      type: string
      example: catalog_search_index
      enum:
      - catalog_search_index
    ResourceOwner:
      description: The resource owner, either `organization` or `store`.
      type: string
      example: organization
      enum:
      - organization
      - store
      x-go-type: tenancy.Owner
      x-go-type-import:
        path: gitlab.elasticpath.com/commerce-cloud/ncl-projects/paragon/catalog-search.svc/internal/domain/tenancy
    SearchIndex:
      type: object
      required:
      - id
      - type
      - meta
      properties:
        id:
          description: The unique identifier for the search index.
          type: string
          format: uuid
          example: 805103ff-0a37-4f83-8fe0-95a16039bd98
          x-go-name: ID
        type:
          $ref: '#/components/schemas/SearchIndexType'
        meta:
          $ref: '#/components/schemas/SearchIndexMeta'
    Error:
      required:
      - status
      - title
      properties:
        status:
          type: string
          description: The HTTP response code of the error.
          example: '500'
        title:
          type: string
          description: A brief summary of the error.
          example: Internal server error
        detail:
          type: string
          description: Optional additional detail about the error.
          example: An internal error has occurred.
        meta:
          type: object
          description: Additional supporting meta data for the error.
          example:
            missing_ids:
            - e7d50bd5-1833-43c0-9848-f9d325b08be8
    SearchIndexMeta:
      type: object
      required:
      - catalog_id
      - release_id
      - out_of_sync
      - owner
      properties:
        catalog_id:
          description: The ID of the catalog.
          type: string
          example: ac107ce9-96ac-4bd5-aa3d-59f40b91279b
          x-go-name: CatalogID
        release_id:
          description: The ID of the catalog release.
          type: string
          example: b2ddd253-d9bd-4344-a18b-581c1e0b25f8
          x-go-name: ReleaseID
        out_of_sync:
          description: Whether the search index is out of sync and needs to re-indexed.
          type: boolean
          example: false
        owner:
          $ref: '#/components/schemas/ResourceOwner'
  responses:
    InternalServerError:
      description: Internal server error. There was a system failure in the platform.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            internal-server-error:
              value:
                errors:
                - title: Internal Server Error
                  status: '500'
  securitySchemes:
    BearerToken:
      scheme: bearer
      type: http
