openapi: 3.2.0
info:
  title: Introduction Promotions Standard API
  description: Promotions Standard offer the flexibility to provide different types of discounts to all your customers or specific customers.
  contact:
    name: Elastic Path
    url: https://elasticpath.com
  license:
    name: MIT
    url: assets/LICENSE
  version: 26.0504.7552059
  x-version-timestamp: 2026-05-04 17:39:21+00:00
servers:
- url: https://useast.api.elasticpath.com
  description: US East Production Server
  variables: {}
- url: https://euwest.api.elasticpath.com
  description: EU West Production Server
  variables: {}
security:
- bearerAuth: []
tags:
- name: Promotions Standard
paths:
  /v2/promotions:
    parameters:
    - $ref: '#/components/parameters/Authorization'
    get:
      tags:
      - Promotions Standard
      summary: Get all Promotions
      description: 'Returns all promotions.


        :::note


        You can use pagination with this resource. For more information, see pagination.


        :::


        ### Filtering


        The following operators and attributes are available when filtering on this endpoint. See Supported Filtering Characters.


        Use `code` filter to search codes within promotions.


        | Attribute | Type | Operator | Example |

        |:-----|:---------|:---------|:----------------------------------------|

        | `code` | `string` | `eq` | `eq(code,some_code)` |


        For filtering advanced promotion usages, pass the `EP-Public-Search-Type=cm_search` header. Advanced search filtering is only applicable when the promotion code is consumed and the promotion is not deleted.


        | Attribute | Type | Operator | Example |

        |:-----|:---------|:---------|:----------------------------------------|

        | `promo_id` | `string` | `eq` | `eq(promo_id, 69c63c9d-8ccf-44b1-8e98-1e7feebfb581)` |

        | `promo_name` |`string` | `eq`, `like` | `eq(promo_name,cart percent discount)` |

        | `promo_type` | `string` | `eq` | `eq(promo_type,fixed_discount)` |

        | `promo_status` | `string` | `eq` | `eq(promo_status,Running)` |

        | `promo_checkouts` | `string` | `eq`,`gt`, `ge`, `lt`, `le` | `eq(promo_checkouts,2)` |

        | `promo_skus_prod_ids` | `string` | `eq`, `like` | `eq(promo_skus_prod_ids, sku1)` |

        | `promo_start_date` | `string` | `eq`, `gt`, `gr`, `lt`, `le` | `eq(promo_start_date,2023-01-01)` |

        | `promo_end_date` | `string` | `eq`, `gt`, `gr`, `lt`, `le` | `eq(promo_end_date,2050-06-15)` |

        | `code_id` | `string` | `eq` | `eq(promo_id,2ea0cd1d-43a9-441b-b03f-3cab84aaee0c):eq(code_id,14b55e6c-3f80-436e-a90a-4de5f0e36240)` |

        | `code_code` | `string` | `eq`, `like` | `eq(code_code,cart_fixed_10)` |

        | `code_used` | `string` | `eq`, `gt`, `gr`, `lt`, `le` | `eq(code_used,2)` |

        | `code_created_date` | `string` | `eq`, `gt`, `gr`, `lt`, `le` | `eq(code_created_date,2023-11-15)` |

        | `order_id` | `string` | `eq`, `like` | `eq(order_id,ccb13673-627c-4976-88da-f77c542b528f)` |

        | `order_customer_email` | `string` | `eq`, `like` | `like(order_customer_email,andy*)` |

        | `order_created_date` | `string` | `eq`, `gt`, `gr`,`lt`, `le` | `le(order_created_date,2023-11-15)` |'
      operationId: getAllPromotions
      parameters:
      - name: page[offset]
        in: query
        description: The number of records to offset the results by.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - '0'
      - name: page[limit]
        in: query
        description: The number of records per page.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - '10'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Response.Data'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Data.PromotionObject'
                    links:
                      $ref: '#/components/schemas/Response.PageLinks'
                    meta:
                      $ref: '#/components/schemas/Response.Meta.Promotions'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response.Error'
              example:
              - errors:
                - status: 401
                  title: Unauthorized
      deprecated: false
    post:
      tags:
      - Promotions Standard
      summary: Create a Promotion
      description: 'You can use this endpoint to create the following types of promotion:

        - Cart Fixed Discount Promotion

        - Cart Percent Discount Promotion

        - X for Y Discount Promotion

        - X for Amount Discount Promotion

        - Fixed Bundle Discount Promotion

        - Item Fixed Discount Promotion

        - Item Percent Discount Promotion

        - Free Gift Promotion


        ### The `schema` object


        Promotions are defined by schemas that are used internally to verify promotions and calculate discounts.'
      operationId: createAPromotion
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/Data.PromotionObject'
        required: false
      responses:
        '201':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Response.Data'
                - properties:
                    data:
                      type: object
                      $ref: '#/components/schemas/Data.PromotionObject'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response.Error'
              example:
              - errors:
                - status: 401
                  title: Unauthorized
      deprecated: false
  /v2/promotions/{promotionID}:
    parameters:
    - $ref: '#/components/parameters/Authorization'
    get:
      tags:
      - Promotions Standard
      summary: Get a Promotion
      description: Retrieves a promotion.
      operationId: getAPromotion
      parameters:
      - name: promotionID
        in: path
        description: The ID of the promotion.
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Response.Data'
                - properties:
                    data:
                      $ref: '#/components/schemas/Data.PromotionObject'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response.Error'
              example:
              - errors:
                - status: 401
                  title: Unauthorized
      deprecated: false
    put:
      tags:
      - Promotions Standard
      summary: Update a Promotion
      description: 'Use this endpoint to update a specific promotion.


        :::note


        You can re-enable an expired promotion by updating the end date to a future date. However, when you enable a promotion again, all codes previously attached to it are deleted to make sure that duplicate promotion codes do not exist on different promotions.


        :::


        ### Errors


        When extending the end date of an expired promotion with over 1000 codes, you will receive the following error response. In such cases, we recommend duplicating the promotion, allowing you to set the new end dates and create promotion codes as needed.


        ```json

        {

        "errors": [

        {

        "status": 422,

        "source": "request",

        "title": "Unprocessable Entity",

        "detail": ""

        }

        ]

        }

        ```'
      operationId: updateAPromotion
      parameters:
      - name: promotionID
        in: path
        description: The unique promotion identifier.
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/Data.PromotionObject'
        required: false
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Response.Data'
                - properties:
                    data:
                      type: object
                      $ref: '#/components/schemas/Data.PromotionObject'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response.Error'
              example:
              - errors:
                - status: 401
                  title: Unauthorized
      deprecated: false
    delete:
      tags:
      - Promotions Standard
      summary: Delete a Promotion
      description: Use this endpoint to delete a specific promotion.
      operationId: deleteAPromotion
      parameters:
      - name: promotionID
        in: path
        description: The ID of the promotion that you want to delete.
        required: true
        style: simple
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response.Error'
              example:
              - errors:
                - status: 401
                  title: Unauthorized
      deprecated: false
  /v2/promotions/{promotionID}/history:
    parameters:
    - $ref: '#/components/parameters/Authorization'
    get:
      tags:
      - Promotions Standard
      summary: Get a Promotion History
      description: Use this endpoint to retrieve a promotion history.
      operationId: getAPromotionHistory
      parameters:
      - name: promotionID
        in: path
        description: The ID of the promotion.
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Response.Data'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Data.PromotionObject'
                    links:
                      $ref: '#/components/schemas/Response.PageLinks'
                    meta:
                      $ref: '#/components/schemas/Response.Meta.Promotions'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response.Error'
              example:
              - errors:
                - status: 401
                  title: Unauthorized
      deprecated: false
components:
  schemas:
    Data.Promotions.Schema.YValue:
      title: Data.Promotions.Schema.YValue
      type: object
      required:
      - y
      properties:
        y:
          description: Specifies the Y value for the promotion.
          type: integer
    Data.Promotions.Schema.Gifts:
      title: Data.Promotions.Schema.Gifts
      type: object
      required:
      - gifts
      properties:
        gifts:
          description: Specifies all the gift items that a shopper can avail when they qualify for the promotion. The gift quantity applies to each specified item. For example, if the promotion includes `giftA` and `giftB`, shopper can avail both the gifts if the cart qualifies for the gift promotion. If the cart qualifies for two gift promotions, the shopper can use two `giftA` and two `giftB`.
          type: array
          items:
            type: string
        auto_add_free_gift:
          description: When set to `true`, free gift items are automatically added to the shopping cart for all the eligible products. Default is `false`.
          type: boolean
    Response.Meta.Promotions:
      title: Response.Meta.Promotions
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Response.PaginationPage'
        results:
          $ref: '#/components/schemas/Response.PaginationResults'
    Data.Promotions.Schema.Percent:
      title: Data.Promotions.Schema.Percent
      type: object
      required:
      - percent
      properties:
        percent:
          description: Specifies the discount percentage to be applied to the targeted SKU price. For example, 10% discount on a product SKU priced at $100. You can specify the discount percentage with up to six decimal places.
          type: integer
    Response.PaginationPage:
      type: object
      properties:
        current:
          description: The current page.
          type: integer
        limit:
          description: The maximum number of records per page for this response. You can set this value up to 100.
          type: integer
        offset:
          description: The current offset by number of records, not pages. Offset is zero-based.
          type: integer
        total:
          description: The total page count.
          type: integer
    Data.Promotions.Schema.AmountAndCurrencyArray:
      title: Data.Promotions.Schema.AmountAndCurrencyArray
      type: object
      required:
      - currencies
      properties:
        currencies:
          type: array
          items:
            $ref: '#/components/schemas/Data.Promotions.Schema.Currencies.AmountAndCurrency'
    Data.Promotions.Schema.Requirements:
      title: Data.Promotions.Schema.Requirements
      type: object
      required:
      - requirements
      properties:
        requirements:
          type: array
          items:
            $ref: '#/components/schemas/Data.Promotions.Schema.Requirement'
    Data.BasePromotions:
      title: Data.Promotions
      type: object
      required:
      - type
      - id
      - name
      - description
      - automatic
      - enabled
      - promotion_type
      - schema
      - start
      - end
      properties:
        type:
          description: Specifies the type of the resource. The type of resource for promotions is `promotion`.
          type: string
          const: promotion
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          description: Specifies a name for the promotion.
          type: string
          examples:
          - Buy SKU1 and SKU2 to get free gift
        description:
          description: Specifies a description for the promotion.
          type: string
          examples:
          - SKU1 and SKU2 for free gift
        promotion_type:
          description: Specifies the type of the promotion.
          type: string
          enum:
          - fixed_discount
          - percent_discount
          - item_fixed_discount
          - item_percent_discount
          - x_for_y
          - x_for_amount
          - bundle_fixed_discount
          - bundle_gift
        enabled:
          description: Specifies whether the promotion is enabled. The options are `true` or `false`, and the default setting is `false`.
          type: boolean
          examples:
          - true
        automatic:
          description: Specifies whether the promotion is applied automatically to the cart or a code is required to apply the promotion. The default setting is to `false`. When this value is set to `true`, a code is autogenerated. If this value is set to `false`, you must create the code manually. For more information about creating codes, see the Create Promotion Codes section.
          type: boolean
          examples:
          - true
        start:
          description: Specifies the start date and time of the promotion or the start date of the promotion. You can provide a specific time in the HH:MM format.
          type: string
          examples:
          - 2020-01-01
        end:
          description: Specifies the end date and time of the promotion or the end date of the promotion.
          type: string
          examples:
          - 2100-01-01
        min_cart_value:
          description: Specifies an array of currency-value objects, `min_cart_value[].currency` and `min_cart_value[].amount`, that provides the minimum cart value required for the promotion to apply. You can add one or several value specifications in different currencies. Do not use `max_discount_value` for Cart Fixed Discount promotion and Item Fixed Discount promotion. If `max_discount_value` is greater than the `fixed_discount` value, the `fixed_discount` value is applied; otherwise the `max_discount value` is applied.
          type: object
          examples:
          - amount: 1000
            currency: USD
        max_applications_per_cart:
          description: Specifies the maximum number of application of a promotion per cart.
          type: number
          examples:
          - 0
    Data.ItemFixedDiscountPromotion:
      title: Data.ItemFixedDiscountPromotion
      allOf:
      - $ref: '#/components/schemas/Data.BasePromotions'
      - type: object
        properties:
          schema:
            allOf:
            - $ref: '#/components/schemas/Data.Promotions.Schema.TargetCatalogs'
            - $ref: '#/components/schemas/Data.Promotions.Schema.Targets'
            - $ref: '#/components/schemas/Data.Promotions.Schema.TargetNodes'
            - $ref: '#/components/schemas/Data.Promotions.Schema.TargetAttributes'
            - $ref: '#/components/schemas/Data.Promotions.Schema.AmountAndCurrencyArray'
            - $ref: '#/components/schemas/Data.Promotions.Schema.Exclude'
    Data.FixedBundleDiscountPromotion:
      title: Data.FixedBundleDiscountPromotion
      allOf:
      - $ref: '#/components/schemas/Data.BasePromotions'
      - type: object
        properties:
          schema:
            allOf:
            - $ref: '#/components/schemas/Data.Promotions.Schema.TargetCatalogs'
            - $ref: '#/components/schemas/Data.Promotions.Schema.AmountAndCurrencyArray'
            - $ref: '#/components/schemas/Data.Promotions.Schema.Requirements'
    Data.Promotions.Schema.Targets:
      title: Data.Promotions.Schema.Targets
      type: object
      properties:
        targets:
          description: Specifies the product SKUs or unique identifiers of the products included in the promotion. Set "targets:all" if you want to apply the promotion to all SKUs. Leaving this field empty might cause errors. You need to define `schema.targets`, `schema.target_nodes` or `schema.target_attributes`, or all three of them to qualify for this promotion.
          type: array
          items:
            type: string
          examples:
          - sku1
    Response.PageLinks:
      type: object
      properties:
        current:
          description: Always the current page.
          type: string
        first:
          description: Always the first page.
          type: string
        last:
          description: If there is only one page, it returns `null`.
          type: string
        next:
          description: If there is only one page, it returns `null`.
          type: string
        prev:
          description: If the user is on the first page, it returns `null`.
          type: string
    Data.XForAmountDiscountPromotion:
      title: Data.XForAmountDiscountPromotion
      allOf:
      - $ref: '#/components/schemas/Data.BasePromotions'
      - type: object
        properties:
          schema:
            allOf:
            - $ref: '#/components/schemas/Data.Promotions.Schema.TargetCatalogs'
            - $ref: '#/components/schemas/Data.Promotions.Schema.Targets'
            - $ref: '#/components/schemas/Data.Promotions.Schema.TargetNodes'
            - $ref: '#/components/schemas/Data.Promotions.Schema.AmountAndCurrencyArray'
            - $ref: '#/components/schemas/Data.Promotions.Schema.Exclude'
            - $ref: '#/components/schemas/Data.Promotions.Schema.XValue'
    Data.Promotions.Schema.Currencies.AmountAndCurrency:
      title: Data.Promotions.Schema.Currencies.AmountAndCurrency
      type: object
      required:
      - amount
      - currency
      properties:
        amount:
          description: Specifies the fixed discount amount to be applied to the cart. For example, $10 off the total amount in the cart.
          type: integer
        currency:
          description: Specifies a three-letter currency code. For example, USD.
          type: string
    Data.Promotions.Schema.TargetNodes:
      title: Data.Promotions.Schema.TargetNodes
      type: object
      properties:
        target_nodes:
          description: Specifies the unique identifiers of the nodes to be applied for the promotion in addition to the product SKUs applied in targets. You can also define `schema.target_nodes` without defining the `schema.targets` if the promotion is intended for a certain node. You cannot define "targets":"all" and `schema.target_nodes` within the same schema. This will result in a validation error.
          type: array
          items:
            type: string
            examples:
            - ff7d62d4-740c-43ac-97cd-a7b0c32221c2
    Data.Promotions.Schema.PercentageAndCurrencyArray:
      title: Data.Promotions.Schema.PercentageAndCurrencyArray
      type: object
      required:
      - currencies
      properties:
        currencies:
          type: array
          items:
            $ref: '#/components/schemas/Data.Promotions.Schema.Currencies.PercentageAndCurrency'
    Data.Promotions.Schema.Exclude:
      title: Data.Promotions.Schema.Exclude
      type: object
      properties:
        conditions:
          type: object
          $ref: '#/components/schemas/Data.Conditions'
    Data.Promotions.Schema.Requirement:
      title: Data.Promotions.Schema.Requirement
      type: object
      required:
      - targets
      - quantity
      properties:
        targets:
          description: Specifies an array of required product SKUs or IDs for the bundle discount promotion.
          type: array
          items:
            type: string
        quantity:
          description: Specifies the quantities of products to be applied for the promotion.
          type: integer
    Response.PaginationResults:
      type: object
      properties:
        total:
          description: The total number of results.
          type: integer
    Data.Promotions.Schema.TargetCatalogs:
      title: Data.Promotions.Schema.TargetCatalogs
      type: object
      properties:
        target_catalogs:
          description: Specifies the unique identifiers of the catalogs to be applied for this promotion. If you do not set this parameter, promotion will be applied to all catalogs.
          type: array
          items:
            type: string
            examples:
            - baff37e6-1c9b-449d-852c-80ec4d0e39c6
    Data.Conditions:
      title: Data.Conditions
      type: object
      properties:
        or:
          type: array
          items:
            type: object
            properties:
              and:
                type: array
                items:
                  oneOf:
                  - $ref: '#/components/schemas/Data.AttributeObject'
                  - $ref: '#/components/schemas/Data.NodesObject'
    Data.Promotions.Schema.Currencies.PercentageAndCurrency:
      title: Data.Promotions.Schema.Currencies.PercentageAndCurrency
      type: object
      required:
      - percentage
      - currency
      properties:
        percentage:
          description: Specifies the discount percentage of the cart total value. For example, 10 represents 10% discount of the cart value of $100. You can add up to six decimal places for the discount percentage to be applied for the promotion.
          type: number
        currency:
          description: Specifies a three-letter currency code. For example, USD.
          type: string
    Response.Data:
      description: Specifies the type of the resource. The type of resource for promotions is, `promotion_codes`.
      type: object
      properties:
        data: {}
    Data.ItemPercentDiscountPromotion:
      title: Data.ItemPercentDiscountPromotion
      allOf:
      - $ref: '#/components/schemas/Data.BasePromotions'
      - type: object
        properties:
          schema:
            allOf:
            - $ref: '#/components/schemas/Data.Promotions.Schema.TargetCatalogs'
            - $ref: '#/components/schemas/Data.Promotions.Schema.Targets'
            - $ref: '#/components/schemas/Data.Promotions.Schema.TargetNodes'
            - $ref: '#/components/schemas/Data.Promotions.Schema.TargetAttributes'
            - $ref: '#/components/schemas/Data.Promotions.Schema.Exclude'
            - $ref: '#/components/schemas/Data.Promotions.Schema.Percent'
    Data.CartPercentDiscountPromotion:
      title: Data.CartPercentDiscountPromotion
      allOf:
      - $ref: '#/components/schemas/Data.BasePromotions'
      - type: object
        properties:
          schema:
            allOf:
            - $ref: '#/components/schemas/Data.Promotions.Schema.TargetCatalogs'
            - $ref: '#/components/schemas/Data.Promotions.Schema.PercentageAndCurrencyArray'
            - $ref: '#/components/schemas/Data.Promotions.Schema.Exclude'
    Response.Error:
      type: array
      properties:
        detail:
          type: string
        status:
          type: string
        title:
          type: string
    Data.PromotionObject:
      type: object
      oneOf:
      - $ref: '#/components/schemas/Data.CartFixedDiscountPromotion'
      - $ref: '#/components/schemas/Data.CartPercentDiscountPromotion'
      - $ref: '#/components/schemas/Data.ItemFixedDiscountPromotion'
      - $ref: '#/components/schemas/Data.ItemPercentDiscountPromotion'
      - $ref: '#/components/schemas/Data.XForYDiscountPromotion'
      - $ref: '#/components/schemas/Data.XForAmountDiscountPromotion'
      - $ref: '#/components/schemas/Data.FixedBundleDiscountPromotion'
      - $ref: '#/components/schemas/Data.FreeGiftPromotion'
      discriminator:
        propertyName: promotion_type
        mapping:
          fixed_discount: '#/components/schemas/Data.CartFixedDiscountPromotion'
          percent_discount: '#/components/schemas/Data.CartPercentDiscountPromotion'
          item_fixed_discount: '#/components/schemas/Data.ItemFixedDiscountPromotion'
          item_percent_discount: '#/components/schemas/Data.ItemPercentDiscountPromotion'
          x_for_y: '#/components/schemas/Data.XForYDiscountPromotion'
          x_for_amount: '#/components/schemas/Data.XForAmountDiscountPromotion'
          bundle_fixed_discount: '#/components/schemas/Data.FixedBundleDiscountPromotion'
          bundle_gift: '#/components/schemas/Data.FreeGiftPromotion'
      required:
      - promotion_type
      properties:
        promotion_type:
          type: string
          enum:
          - fixed_discount
          - percent_discount
          - item_fixed_discount
          - item_percent_discount
          - x_for_y
          - x_for_amount
          - bundle_fixed_discount
          - bundle_gift
    Data.XForYDiscountPromotion:
      title: Data.XForYDiscountPromotion
      allOf:
      - $ref: '#/components/schemas/Data.BasePromotions'
      - type: object
        properties:
          schema:
            allOf:
            - $ref: '#/components/schemas/Data.Promotions.Schema.TargetCatalogs'
            - $ref: '#/components/schemas/Data.Promotions.Schema.Targets'
            - $ref: '#/components/schemas/Data.Promotions.Schema.TargetNodes'
            - $ref: '#/components/schemas/Data.Promotions.Schema.TargetAttributes'
            - $ref: '#/components/schemas/Data.Promotions.Schema.Exclude'
            - $ref: '#/components/schemas/Data.Promotions.Schema.XValue'
            - $ref: '#/components/schemas/Data.Promotions.Schema.YValue'
    Data.Promotions.Schema.TargetAttributes:
      title: Data.Promotions.Schema.TargetAttributes
      type: object
      properties:
        target_attributes:
          type: array
          items:
            type: object
            properties:
              template:
                description: Specifies the name of the template slug to be included in a promotion.
                type: string
                examples:
                - products(shoes)
              field:
                description: Specifies the unique slug identifier for the field to be included in a promotion.
                type: string
                examples:
                - brand
              type:
                description: Specifies the type of the field, such as `string`, `integer`, `boolean`, `float`, or `date`.
                type: string
                examples:
                - string
              value:
                description: Specifies the value of the field that was specified in the `attributes.type`. For example, you can specify any color in the value if you indicate color in the `attributes.field`.
                type: string
                examples:
                - adidas
    Data.FreeGiftPromotion:
      title: Data.FreeGiftPromotion
      allOf:
      - $ref: '#/components/schemas/Data.BasePromotions'
      - type: object
        properties:
          schema:
            allOf:
            - $ref: '#/components/schemas/Data.Promotions.Schema.TargetCatalogs'
            - $ref: '#/components/schemas/Data.Promotions.Schema.Requirements'
            - $ref: '#/components/schemas/Data.Promotions.Schema.Gifts'
    Data.CartFixedDiscountPromotion:
      title: Data.CartFixedDiscountPromotion
      allOf:
      - $ref: '#/components/schemas/Data.BasePromotions'
      - type: object
        properties:
          schema:
            allOf:
            - $ref: '#/components/schemas/Data.Promotions.Schema.TargetCatalogs'
            - $ref: '#/components/schemas/Data.Promotions.Schema.AmountAndCurrencyArray'
            - $ref: '#/components/schemas/Data.Promotions.Schema.Exclude'
    Data.AttributeObject:
      title: Data.AttributeObject
      type: object
      properties:
        attribute:
          type: object
          properties:
            template:
              description: Specifies the name of the template slug to be excluded from a promotion.
              type: string
              examples:
              - products(shoes)
            field:
              description: Specifies the unique slug identifier for the field excluded from a promotion.
              type: string
              examples:
              - brand
            type:
              description: Specifies the type of the field, such as `string`, `integer`, `boolean`, `float`, or `date`.
              type: string
              examples:
              - string
            value:
              description: Specifies the value of the field that was specified in the `attributes.field`. For example, you can specify any color in the value if you indicate color in the `attributes.field`.
              type: string
              examples:
              - adidas
    Data.Promotions.Schema.XValue:
      title: Data.Promotions.Schema.XValue
      type: object
      required:
      - x
      properties:
        x:
          description: Specifies the X value for the promotion.
          type: integer
    Data.NodesObject:
      title: Data.NodesObject
      type: object
      properties:
        node:
          type: object
          properties:
            values:
              description: Specifies unique identifiers of the nodes to be excluded from the promotion.
              type: array
              items:
                type: string
                description: node or hierarchy ids
                examples:
                - 19650d2e-7e9d-496a-8658-5107dd8ad803
                - fe0cff14-1b7e-4abf-88db-cd0fd6a3ec5b
  parameters:
    Authorization:
      name: Authorization
      in: header
      description: The Bearer token required to get access to the API.
      required: true
      schema:
        type: string
        format: Bearer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
