openapi: 3.0.0
info:
  title: Catalog Search Introduction
  version: 26.0604.7696948
  x-version-timestamp: 2026-06-04T10:33:46Z
  description: |
    Elastic Path Catalog Search provides fast, relevant product search capabilities for your published catalogs. Catalog Search enables shoppers to find products quickly using full-text search, filtering, faceting, and sorting, while giving merchandisers powerful tools to customize search relevance and ranking.

    You can integrate Catalog Search into your storefront using the Catalog Search API or manage search settings through Commerce Manager.

    ### How Catalog Search Works

    Catalog Search works alongside your Product Experience Manager catalogs to provide optimized search functionality.

    When creating or updating a catalog, enable search to allow the catalog's products to be indexed. See [Catalogs](/docs/api/pxm/catalog/catalogs). Then when a search-enabled catalog is published, the products are automatically indexed for search. The search index contains product data optimized for fast querying.

    Use the Search API to query products with full-text search, filtering, faceting, and sorting. The results of the search contain the full product information, not just the indexed fields, reducing the need for further API calls.

    ### Key Capabilities

    - **Full-text search**: Search across product names, descriptions, SKUs, and custom fields with typo tolerance and relevance ranking
    - **Filtering**: Narrow results using conditions on product attributes, categories, prices, and custom fields
    - **Faceting**: Get aggregated counts for attribute values to build dynamic navigation and refinement options
    - **Sorting**: Order results by price, name, custom fields, or relevance score
    - **Search Profiles**: Configure search behavior including field weights, filters, and boost rules without code changes
    - **Custom Fields**: Extend the search schema with your own product attributes for filtering, faceting, and sorting
    - **Fully Hydrated Responses**: Search results contain complete information about the products, reducing the requirement for follow-up API calls.

    ### Personalized Search Results

    Search results are automatically personalized based on the shopper's context. The system determines which catalog and prices to show based on:

    - **Channel**: The shopping experience, such as a web storefront or mobile app
    - **Account**: For B2B scenarios, the shopper's account and any parent accounts
    - **Customer**: The logged-in customer's segment or tier
    - **Tags**: Custom context tags for advanced segmentation scenarios

    See [**Characteristics of Shopper Catalogs**](/docs/api/pxm/catalog/shopper-catalog-api#characteristics-of-shopper-catalogs) for more information.

    ### Search Profiles

    Search Profiles give merchandisers control over search behavior without requiring code changes. With Search Profiles, you can:

    - **Configure field weights**: Control which product fields are most important for relevance ranking
    - **Apply default filters**: Enforce business rules like only showing live products
    - **Boost products**: Promote featured products, specific brands, or categories to the top of results
    - **A/B test**: Create multiple profiles to test different search configurations

    See [**Search Profiles**](/docs/api/pxm/catalog-search/search-profiles) for more information.

    ### Extending the Search Schema

    By default, the search index includes standard product fields like name, description, SKU, and categories. You can extend the schema by adding custom fields using [Indexable Fields](/docs/api/pxm/catalog-search/indexable-fields).

    Two types of custom fields can be indexed:

    - **Product extension fields** (`extensions.products(<slug>).<field>`): Fields from your product extension templates.
    - **Product custom attributes** (`shopper_attributes.<attribute>` and `admin_attributes.<attribute>`): Merchant-defined key/value attributes on products.

    This allows you to:

    - Search on custom product attributes like brand, material, or specifications
    - Filter products by custom fields like color, size, or rating
    - Display facets for custom field values in your navigation
    - Sort results by custom numeric fields like rating or popularity

    See [**Indexable Fields**](/docs/api/pxm/catalog-search/indexable-fields) for more information.
servers:
  - url: https://euwest.api.elasticpath.com/v2
    description: EU west cluster
  - url: https://useast.api.elasticpath.com/v2
    description: US east cluster
security:
  - BearerToken: []
tags:
  - name: Search
    description: |
      The Search API enables you to search for products in your published catalogs. Search provides powerful capabilities including full-text search, filtering, faceting, and sorting to help shoppers find products quickly and efficiently.

      ### How Search Works

      When you publish a catalog with search enabled, the catalog's products are automatically indexed for search. The search index contains product data optimized for fast querying, including product names, descriptions, SKUs, categories, prices, and any custom fields you've configured.

      There are two types of search operations:

      - **Search**: Execute a single search query against a catalog. Use the GET endpoint for simple searches with query parameters.
      - **Multi-search**: Execute multiple search queries in a single request. Use the POST endpoint to batch searches together for improved performance.

      ### Search Features

      - **Full-text search**: Search across product names, descriptions, SKUs, and custom fields with typo tolerance and relevance ranking
      - **Filtering**: Narrow results using conditions on product attributes, categories, prices, and custom fields
      - **Faceting**: Get aggregated counts for attribute values to build dynamic navigation and refinement options
      - **Sorting**: Order results by price, name, custom fields, or relevance score
      - **Highlighting**: Get highlighted snippets showing where search terms match in product fields
      - **Autocomplete**: Get search suggestions as shoppers type their queries

      ### Shopper Context

      Search results are personalized based on the shopper's context. The system automatically determines which catalog and prices to use based on:

      - **Channel**: The shopping experience (web, mobile, B2B portal)
      - **Account**: For B2B scenarios, the account and parent accounts
      - **Customer**: The logged-in customer's segment
      - **Tags**: Custom context tags for advanced segmentation

      This context is provided via request headers and is used to resolve the appropriate catalog rules and price books.

      ### Admin vs Shopper Endpoints

      - **Shopper endpoints** (`/pcm/catalog/search`, `/pcm/catalog/multi-search`): Use shopper context headers to automatically resolve the correct catalog and prices.
      - **Admin endpoints** (`/pcm/catalogs/{catalog_id}/releases/{release_id}/search`): Directly specify the catalog and release to search, useful for previewing releases or testing.
  - name: Indexable Fields
    description: |
      Indexable Fields allow you to extend and fine-tune the search schema. By default, the search index includes all the core product fields like name, description, SKU, slug etc. Indexable Fields let you:

      - **Add custom fields** to the index from product extension templates or custom (shopper and admin) attributes
      - **Configure core field behavior** such as stemming and tokenization on built-in fields like `name` and `description`
      - **Control tokenization** at the collection or per-field level using token separators and symbols to index

      ### When to Use Indexable Fields

      Use Indexable Fields when you want to:

      - **Search custom attributes**: Enable full-text search on custom product fields like brand, material, or specifications
      - **Filter by custom attributes**: Allow shoppers to filter products by custom fields like color, size, or rating
      - **Facet on custom attributes**: Display aggregated counts for custom field values in your navigation
      - **Sort by custom attributes**: Order search results by custom numeric fields like rating or popularity
      - **Enable stemming**: Match different word forms (e.g., "running" also matches "run", "runs") on both custom or core fields
      - **Customize tokenization**: Control how hyphenated, compound, or symbol-containing text is split and indexed

      ### How Indexable Fields Work

      1. **Create indexable fields**: Define custom fields to index and configure collection-level or per-field tokenization settings
      2. **Override core field behavior**: Use `core_field_overrides` to configure stemming, token separators, or symbols to index on built-in fields like `name` and `description`
      3. **Reindex catalogs**: After creating or modifying indexable fields, reindex your catalog releases to apply the changes
      4. **Use in searches**: Once reindexed, custom fields are available in search queries for filtering, faceting, and sorting

      ### Field Configuration

      Each entry in the custom fields (`fields` array) supports the following options:

      | Option             | Description                                                                                               |
      |--------------------|-----------------------------------------------------------------------------------------------------------|
      | `name`             | The field path — see **Field Types** below for supported formats                                          |
      | `facetable`        | When `true`, the field can be used for faceting to show aggregated value counts                           |
      | `sortable`         | When `true`, the field can be used for sorting results                                                    |
      | `locale`           | Language code for text tokenization, defaults to `en` for English                                         |
      | `stem`             | When `true`, enables word stemming using the Snowball stemmer — see **Stemming** below                    |
      | `token_separators` | Per-field characters to use as token separators, overriding the collection-level setting                  |
      | `symbols_to_index` | Per-field special characters to preserve as part of tokens, overriding the collection-level setting       |

      ### Field Types

      Two categories of fields can be indexed:

      #### Extension Fields

      Fields from your product extension templates, following the pattern `extensions.products(<template_slug>).<field_name>`:

      - `<template_slug>` is the slug of your product extension template
      - `<field_name>` is the name of the field within that template
      - The field must exist and be enabled in the flows service
      - Only enumerated string fields, numeric fields, and boolean fields can be faceted

      **Example**: For a product extension template with slug `Details` containing a field `brand`, the indexable field name would be `extensions.products(Details).brand`.

      #### Custom Attribute Fields

      Merchant-defined key/value attributes stored directly on products:

      - `shopper_attributes.<attribute_name>` — visible in shopper and admin catalog API responses and available for filtering, sorting, and faceting in both shopper and admin search
      - `admin_attributes.<attribute_name>` — available for filtering and sorting in both shopper and admin search; not returned in search response payloads
      - `<attribute_name>` must be no longer than **64 characters** and can only contain alphanumeric characters, underscores (`_`), and hyphens (`-`).
      - Attribute fields are always typed as `string`
      - Faceting and sorting can be enabled

      **Examples**: `shopper_attributes.fabric`, `admin_attributes.internal_grade`

      ### Core Field Overrides

      In addition to configuring custom fields, Indexable Fields can influence the behavior of built-in product fields such as `name`, `description`, and `sku`. Use the `core_field_overrides` to apply per-field settings.

      Each entry in `core_field_overrides` supports `stem`, `token_separators`, `symbols_to_index`, and `sortable`. This is useful when you want to enable stemming on the product description, apply custom tokenization to a specific core field, or enable sorting on fields like `name` and `sku`.

      **Example**: Enable stemming on `description` and treat hyphens as token separators only on `name`:

      ```json
      {
        "core_field_overrides": [
          { "name": "description", "stem": true },
          { "name": "name", "token_separators": ["-"], "sortable": true }
        ]
      }
      ```

      ### Stemming

      Stemming reduces words to their root form at both index and query time, so a search for "running" also matches products containing "run", "runs", or "runner". This improves search recall for descriptive text fields where shoppers may use different word forms than those found in product data.

      - Enable per field using `stem: true` on any entry in `fields` or `core_field_overrides`
      - Uses the [Snowball stemmer](https://snowballstem.org/)
      - Only valid for string-typed fields
      - Defaults to `false`

      ### Token Separators and Symbols to Index

      These settings control how text is split into tokens during indexing and searching.

      #### Token Separators

      `token_separators` specifies characters that split text into separate tokens, in addition to the default whitespace splitting. This is useful for hyphenated text, part numbers, or other compound formats.

      For example, with `token_separators: ["-"]`, the text `non-tech` is tokenized to `non` and `tech`, so searches for both `non-tech` and `non tech` will match.

      #### Symbols to Index

      `symbols_to_index` specifies special characters that should be preserved within tokens rather than stripped during indexing. Useful when products contain meaningful symbols like `+`, `#`, or `@`.

      #### Collection-Level vs Field-Level

      Both settings can be configured at two scopes:

      - **Collection-level**: Set `token_separators` or `symbols_to_index` at the top level of the indexable fields resource to apply the setting across all indexed fields.
      - **Field-level**: Set the same properties on an individual entry in `fields` or `core_field_overrides` to apply only to that field, overriding the collection-level setting.

      An empty array at the field level defers to the collection-level setting.

      ### Reindexing Requirement

      Any change to indexable fields requires reindexing your catalog releases to take effect. The system detects when indexes are out of sync. Use the [reindex endpoint](/docs/api/pxm/catalog-search/reindex-tenant-releases) to apply changes. See [Jobs](/docs/api/pxm/catalog-search/jobs) for more details on reindexing operations.
  - name: Searchable Fields
    description: |
      The Searchable Fields API returns a list of all fields available for searching, filtering, faceting, and sorting in your search queries. This includes both the standard product fields that are indexed by default and any custom fields you've added through Indexable Fields.

      ### Using Searchable Fields

      Use this endpoint to:

      - **Discover available fields**: See all fields that can be used in search queries
      - **Build dynamic UIs**: Programmatically generate filter and facet options based on available fields
      - **Validate configurations**: Verify that your indexable fields have been properly added to the schema

      ### Field Properties

      Each searchable field includes:

      | Property | Description |
      | --- | --- |
      | `name` | The field name to use in search queries |
      | `type` | The data type (`string`, `int32`, `int64`, `float`, `bool`) |
      | `facetable` | Whether the field can be used for faceting |
      | `sortable` | Whether the field can be used for sorting |
      | `locale` | The language code for text fields |

      ### Standard vs Custom Fields

      - **Standard fields**: Built-in fields like `name`, `description`, `sku`, `meta.search.nodes.name` that are always available
      - **Custom fields**: Fields added through Indexable Fields from your product extensions
  - name: Search Profiles
    description: |
      Search Profiles are configuration objects that control how search queries are executed. They provide a powerful way to customize search relevance, filtering, and ranking without requiring code changes, enabling merchandisers and business users to optimize the search experience.

      ### How Search Profiles Work

      A Search Profile defines:

      - **Which fields to search**: Select which product fields are included in search queries
      - **Field weights**: Assign relative importance to each field for relevance ranking
      - **Default filters**: Apply business rules that filter results for all searches
      - **Boost rules**: Promote or demote products based on specific conditions
      - **Match type**: Control how scores from multiple fields are combined

      When a search request is made, the system uses the specified profile (or the default profile) to configure the search behavior.

      ### Search Profile Components

      | Component         | Description                                                                               |
      |-------------------|-------------------------------------------------------------------------------------------|
      | `slug`            | Unique identifier used to reference the profile in search requests                        |
      | `fields`          | List of fields to search with optional weights for relevance ranking                      |
      | `filters`         | Default filter expressions applied to all searches using this profile                     |
      | `boosts`          | Rules for promoting or demoting products based on conditions                              |
      | `text_match_type` | How to combine scores when multiple fields match (`max_score`, `max_weight`, `sum_score`) |

      ### Field Weights

      Field weights control how important each field is when ranking search results. Higher weights mean matches in that field contribute more to the relevance score. Weights must be in the range `[0, 15]`.

      **Example**: A profile with `name` (weight 10) and `description` (weight 5) will rank products with search term matches in the name higher than those with matches only in the description.

      ### Filters

      Profile filters enforce business rules that apply to all searches:

      - Ensure only live/published products appear in results
      - Restrict results to specific categories or channels
      - Hide products based on visibility settings

      Multiple filters are combined with OR logic, then ANDed with any filters in the search request.

      ### Boost Rules

      Boost rules allow you to promote or demote products in search results:

      - **Positive weights**: Push matching products to the top of results
      - **Negative weights**: Push matching products to the bottom (burying)
      - **Zero weight**: No effect on ranking

      Rules are evaluated in weight order, and the first matching rule determines the product's boost.

      ### Text Match Types

      | Type         | Description                                                                            |
      |--------------|----------------------------------------------------------------------------------------|
      | `max_score`  | Uses the highest score from any single matching field. Prioritizes match quality.      |
      | `max_weight` | Uses the score from the highest-weighted matching field. Prioritizes field importance. |
      | `sum_score`  | Sums weighted scores from all matching fields. Rewards multi-field matches.            |

      ### Default Profile

      Each store has a default search profile that is used when no profile is specified in the search request. You can set any profile as the default using the set default endpoint.

      ### Use Cases

      - **A/B testing**: Create multiple profiles with different configurations to test search relevance
      - **Channel optimization**: Different profiles for web, mobile, and B2B channels
      - **Seasonal merchandising**: Profiles that boost seasonal or promotional products
      - **Customer segmentation**: Different ranking strategies for different customer tiers
  - name: Search Indexes
    description: |
      Search Indexes represent the indexed data for your catalog releases. Each time a catalog is published with search enabled, a search index is created containing the product data optimized for fast querying.

      ### Index Status

      The Search Indexes API allows you to view the status of your indexes and identify any that are out of sync. An index becomes out of sync when:

      - Indexable fields have been added, modified, or deleted
      - The index failed to build during catalog publishing
      - A reindex is required due to schema changes

      ### Monitoring Indexes

      Use the list endpoint to:

      - **View all indexes**: See all search indexes for your store
      - **Check sync status**: Identify indexes that need reindexing
      - **Filter by status**: Find only out-of-sync indexes using the `out_of_sync` query parameter

      ### Index Information

      Each search index includes:

      | Property      | Description                                             |
      |---------------|---------------------------------------------------------|
      | `catalog_id`  | The ID of the catalog this index belongs to             |
      | `release_id`  | The ID of the catalog release this index was built from |
      | `out_of_sync` | Whether the index needs to be rebuilt                   |

      ### Reindexing

      When indexes are out of sync, use the reindex endpoint in [Jobs](/docs/api/pxm/catalog-search/jobs) to rebuild them. Reindexing ensures your search indexes reflect the current indexable field configuration.
  - name: Typesense Clusters
    description: Manage Typesense clusters (provision via jobs; get/list cluster state including status).
  - name: Jobs
    description: |
      Jobs manage the indexing operations for catalog search. When catalogs are published or when reindexing is required, jobs process the product data and build search indexes.

      ### Job Types

      | Type                      | Description                                                                                         |
      |---------------------------|-----------------------------------------------------------------------------------------------------|
      | `index-release`           | Index a specific catalog release. Created automatically when a search-enabled catalog is published. |
      | `delete-release`          | Remove the search index for a catalog release.                                                      |
      | `reindex-tenant-releases` | Reindex all catalog releases for the store. Use when indexable fields have changed.                 |

      ### Job Lifecycle

      Jobs progress through the following states:

      1. **pending**: Job has been created and is waiting to be processed
      2. **processing**: Job is actively indexing products
      3. **complete**: Job finished successfully
      4. **failed**: Job encountered an error

      ### Automatic Indexing

      When you publish a catalog with search enabled, an `index-release` job is automatically created. The catalog release remains in a publishing state until the indexing job completes successfully.

      ### Manual Reindexing

      Use the reindex endpoint when:

      - You've added, modified, or deleted indexable fields
      - Search indexes are out of sync (check via [Search Indexes](/docs/api/pxm/catalog-search/search-indexes))
      - You need to rebuild indexes after a failure

      The reindex operation creates jobs for all catalog releases that need updating. You can optionally force a full reindex of all releases regardless of their sync status.

      ### Conflict Handling

      Only one reindexing operation can run at a time. If you attempt to start a reindex while another is in progress, the API returns a 409 Conflict error.
  - name: Stopword Sets
    description: |
      Stopword Sets allow you to define sets of common words (such as "the", "a", "an", "is") that should be ignored during search queries. By removing these low-value terms from search processing, you can improve search relevance and reduce noise in results.

      ### How Stopword Sets Work

      A stopword set is a named container of stopword words. Each set belongs to an organization or store and is synced asynchronously. Once synced, the stopwords are applied during search query processing to filter out the specified terms.

      ### Common Stopwords

      Stopword sets contain a flat list of words to ignore:

      - **Common articles**: "the", "a", "an"
      - **Prepositions**: "in", "on", "at", "for"
      - **Conjunctions**: "and", "or", "but"

      ### Sync Status

      Stopword sets are synced asynchronously. The sync status is tracked and exposed in API responses:

      | Status           | Description                                                    |
      |------------------|----------------------------------------------------------------|
      | `pending_sync`   | Set has been created or updated in MongoDB but not yet synced  |
      | `synced`         | Set has been successfully synced                               |
      | `sync_failed`    | The last sync attempt failed                                   |
      | `pending_delete` | Set is marked for deletion; a background worker will remove it |

      ### Tenancy

      Stopword sets follow the same tenancy model as other resources:

      - **Organization-scoped sets**: Managed by the organization; apply across all stores
      - **Store-scoped sets**: Managed by the store; apply only to that store

      Stores cannot modify organization-scoped stopword sets.
  - name: Synonym Sets
    description: |
      Synonym Sets allow you to define groups of equivalent or related terms so that searches for one term also return results for its synonyms. This helps shoppers find products regardless of the specific terminology they use.

      ### How Synonym Sets Work

      A synonym set is a named container of synonym items. Each set belongs to an organization or store and is synced asynchronously. Once synced, a set can be attached to one or more search profiles; its synonym rules are then applied during searches that use those profiles to expand queries with matching terms.

      ### Synonym Types

      Each item within a synonym set can be either multi-way or one-way:

      - **Multi-way synonyms**: All terms are treated as equivalent. Searching for any term in the list returns results for all of them. For example, `["sneakers", "trainers", "running shoes"]` means a search for "trainers" also returns results for "sneakers" and "running shoes".
      - **One-way synonyms**: Searches for a `root` term also match the `synonyms`, but not vice versa. For example, with `root: "jacket"` and `synonyms: ["blazer", "coat"]`, searching for "jacket" also returns results for "blazer" and "coat", but searching for "blazer" does not return results for "jacket".

      ### Synonym Item Configuration

      Each item within a synonym set supports the following options:

      | Option             | Required | Description                                                                                                  |
      |--------------------|----------|--------------------------------------------------------------------------------------------------------------|
      | `id`               | Yes      | Unique identifier for the item within the set. Alphanumeric characters, hyphens, and underscores only.       |
      | `synonyms`         | Yes      | List of synonym terms. Minimum 1 if `root` is provided (one-way), minimum 2 if `root` is absent (multi-way). |
      | `root`             | No       | Makes this a one-way synonym. Must not also appear in the `synonyms` array.                                  |
      | `locale`           | No       | ISO 639 language code for this synonym item.                                                                 |
      | `symbols_to_index` | No       | Special characters to preserve as part of tokens. Each element must be exactly one character.                |

      ### Sync Status

      Synonym sets are synced asynchronously. The sync status is tracked and exposed in API responses:

      | Status           | Description                                                    |
      |------------------|----------------------------------------------------------------|
      | `pending_sync`   | Set has been created or updated in MongoDB but not yet synced  |
      | `synced`         | Set has been successfully synced                               |
      | `sync_failed`    | The last sync attempt failed                                   |
      | `pending_delete` | Set is marked for deletion; a background worker will remove it |

      ### Tenancy

      Synonym sets follow the same tenancy model as other resources:

      - **Organization-scoped sets**: Managed by the organization; apply across all stores
      - **Store-scoped sets**: Managed by the store; apply only to that store

      Stores cannot modify organization-scoped synonym sets.

      ### Using Synonym Sets in Search Profiles

      Synonym sets only take effect once they are attached to a [search profile](/docs/api/pxm/catalog-search/search-profiles) via its `synonym_sets` attribute. At search time, the synonym sets of the resolved search profile are applied to the query.

      When attaching a synonym set to a search profile:

      - The set must exist and be accessible by the calling tenant. Organization-level search profiles may only reference organization-level sets; store-level search profiles may reference organization-level and same-store sets.
      - The set must have been synced at least once. A set in `pending_sync` or `sync_failed` state can still be used if it was previously synced — its last synced state continues to apply.

      A synonym set cannot be deleted while it is referenced by any search profile; the delete request is rejected with a `409 Conflict` until the reference is removed.

      ### Use Cases

      - **Regional terminology**: Map British and American English terms (e.g., "trousers" ↔ "pants")
      - **Brand equivalents**: Link product category names with common alternatives
      - **Industry jargon**: Ensure technical terms match colloquial ones
      - **Abbreviations**: Map abbreviations to their full forms (e.g., "tee" → "t-shirt")
paths:
  /pcm/catalog/multi-search:
    post:
      tags:
        - Search
      operationId: postMultiSearch
      summary: Multi-search
      description: Execute one or more searches in a single request.
      parameters:
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/products-include'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/search-profile'
        - $ref: '#/components/parameters/simulated-shopper-date'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiSearchRequest'
      responses:
        '200':
          description: Multi-search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiSearchResponse'
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid-filter:
                  value:
                    errors:
                      - title: Invalid Filter
                        status: '400'
                        detail: Could not parse the filter query.
                invalid-facet:
                  value:
                    errors:
                      - title: Invalid Facet
                        status: '400'
                        detail: Invalid facet field specified.
                invalid-pagination:
                  value:
                    errors:
                      - title: Invalid Pagination
                        status: '400'
                        detail: Invalid page or per_page parameter.
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/{catalog_id}/releases/{release_id}/multi-search:
    post:
      tags:
        - Search
      operationId: multiSearchByCatalogRelease
      summary: Admin Multi-search
      description: Execute one or more searches in a single request.
      parameters:
        - name: catalog_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the catalog to query
          x-go-name: catalogID
        - name: release_id
          in: path
          required: true
          schema:
            type: string
          description: The unique ID of a published release of the catalog or `latestPublished` for the most recently published version
          x-go-name: releaseID
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/products-include'
        - $ref: '#/components/parameters/pricebook-ids-for-price-segmentation-preview'
        - $ref: '#/components/parameters/pricebook-ids-of-available-prices-to-show'
        - $ref: '#/components/parameters/search-profile'
        - $ref: '#/components/parameters/simulated-shopper-date'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiSearchRequest'
      responses:
        '200':
          description: Multi-search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiSearchResponse'
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid-filter:
                  value:
                    errors:
                      - title: Invalid Filter
                        status: '400'
                        detail: Could not parse the filter query.
                invalid-facet:
                  value:
                    errors:
                      - title: Invalid Facet
                        status: '400'
                        detail: Invalid facet field specified.
                invalid-pagination:
                  value:
                    errors:
                      - title: Invalid Pagination
                        status: '400'
                        detail: Invalid page or per_page parameter.
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalog/search:
    get:
      tags:
        - Search
      operationId: searchByContext
      summary: Search
      description: Execute search.
      parameters:
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/products-include'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/search-profile'
        - $ref: '#/components/parameters/search-query-param-type'
        - $ref: '#/components/parameters/search-query-param-highlight-full-fields'
        - $ref: '#/components/parameters/search-query-param-q'
        - $ref: '#/components/parameters/search-query-param-facet-by'
        - $ref: '#/components/parameters/search-query-param-filter-by'
        - $ref: '#/components/parameters/search-query-param-sort-by'
        - $ref: '#/components/parameters/search-query-param-max-facet-values'
        - $ref: '#/components/parameters/simulated-shopper-date'
        - in: query
          name: page
          schema:
            type: integer
          example: 1
        - in: query
          name: per_page
          schema:
            type: integer
          example: 10
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid-filter:
                  value:
                    errors:
                      - title: Invalid Filter
                        status: '400'
                        detail: Could not parse the filter query.
                invalid-facet:
                  value:
                    errors:
                      - title: Invalid Facet
                        status: '400'
                        detail: Invalid facet field specified.
                invalid-pagination:
                  value:
                    errors:
                      - title: Invalid Pagination
                        status: '400'
                        detail: Invalid page or per_page parameter.
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/{catalog_id}/releases/{release_id}/search:
    get:
      tags:
        - Search
      operationId: searchByCatalogRelease
      summary: Admin Search
      description: Execute search.
      parameters:
        - name: catalog_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the catalog to query
          x-go-name: catalogID
        - name: release_id
          in: path
          required: true
          schema:
            type: string
          description: The unique ID of a published release of the catalog or `latestPublished` for the most recently published version
          x-go-name: releaseID
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/products-include'
        - $ref: '#/components/parameters/pricebook-ids-for-price-segmentation-preview'
        - $ref: '#/components/parameters/pricebook-ids-of-available-prices-to-show'
        - $ref: '#/components/parameters/search-profile'
        - $ref: '#/components/parameters/search-query-param-type'
        - $ref: '#/components/parameters/search-query-param-highlight-full-fields'
        - $ref: '#/components/parameters/search-query-param-q'
        - $ref: '#/components/parameters/search-query-param-facet-by'
        - $ref: '#/components/parameters/search-query-param-filter-by'
        - $ref: '#/components/parameters/search-query-param-sort-by'
        - $ref: '#/components/parameters/search-query-param-max-facet-values'
        - $ref: '#/components/parameters/simulated-shopper-date'
        - in: query
          name: page
          schema:
            type: integer
          example: 1
        - in: query
          name: per_page
          schema:
            type: integer
          example: 10
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid-filter:
                  value:
                    errors:
                      - title: Invalid Filter
                        status: '400'
                        detail: Could not parse the filter query.
                invalid-facet:
                  value:
                    errors:
                      - title: Invalid Facet
                        status: '400'
                        detail: Invalid facet field specified.
                invalid-pagination:
                  value:
                    errors:
                      - title: Invalid Pagination
                        status: '400'
                        detail: Invalid page or per_page parameter.
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/reindex-releases:
    post:
      tags:
        - Jobs
      operationId: ReindexTenantReleases
      summary: Reindex all releases for tenant
      description: Create a new job to reindex all releases for the tenant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReindexTenantReleasesJobRequest'
      responses:
        '200':
          description: Reindex tenant releases request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - another reindexing job already queued or in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/indexable-fields:
    post:
      tags:
        - Indexable Fields
      operationId: createIndexableFields
      summary: Create indexable fields
      description: Specify additional fields to be indexed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndexableFieldsCreateRequest'
      responses:
        '201':
          description: Successfully created indexable fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexableFieldsResponse'
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - reindexing job queued or in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Indexable Fields
      operationId: listIndexableFields
      summary: List indexable fields
      description: List indexable fields.
      responses:
        '200':
          description: List indexable fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIndexableFieldsResponse'
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/indexable-fields/{indexable_fields_id}:
    parameters:
      - name: indexable_fields_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The unique ID of the indexable fields
        example: ac107ce9-96ac-4bd5-aa3d-59f40b91279b
        x-go-name: IndexableFieldsID
    get:
      tags:
        - Indexable Fields
      operationId: getIndexableFields
      summary: Get indexable fields
      description: Get additional fields to be indexed.
      responses:
        '200':
          description: Get indexable fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexableFieldsResponse'
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Indexable fields not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Indexable Fields
      operationId: updateIndexableFields
      summary: Update indexable fields
      description: Update additional fields to be indexed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndexableFieldsUpdateRequest'
      responses:
        '200':
          description: Successfully updated indexable fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexableFieldsResponse'
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied - indexable fields owned by the organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Indexable fields not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - reindexing job queued or in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Indexable Fields
      operationId: deleteIndexableFields
      summary: Delete indexable fields
      description: Delete additional fields to be indexed.
      responses:
        '204':
          description: Successfully deleted indexable fields
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied - indexable fields owned by the organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - reindexing job queued or in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/searchable-fields:
    get:
      tags:
        - Searchable Fields
      operationId: listSearchableFields
      summary: List searchable fields
      description: List searchable fields.
      responses:
        '200':
          description: List searchable fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchableFieldsResponse'
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/search-profiles:
    post:
      tags:
        - Search Profiles
      operationId: createSearchProfile
      summary: Create search profile
      description: Create a new search profile.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchProfileCreateRequest'
      responses:
        '201':
          description: Successfully created search profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchProfileResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Search Profiles
      operationId: listSearchProfiles
      summary: List search profiles
      description: List search profiles.
      responses:
        '200':
          description: List search profiles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSearchProfilesResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/search-profiles/{search_profile_id}:
    parameters:
      - name: search_profile_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The unique ID of the search profile
        example: ac107ce9-96ac-4bd5-aa3d-59f40b91279b
        x-go-name: ProfileID
    get:
      tags:
        - Search Profiles
      operationId: getSearchProfile
      summary: Get search profile
      description: Get a search profile.
      parameters:
        - name: search_profile_id
          in: path
          required: true
          schema:
            type: string
          description: The unique ID of the search profile or 'default' to retrieve the default search profile.
          example: ac107ce9-96ac-4bd5-aa3d-59f40b91279b
          x-go-name: ProfileID
      responses:
        '200':
          description: Successfully retrieved search profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchProfileResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Search profile not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Search Profiles
      operationId: updateSearchProfile
      summary: Update search profile
      description: Update a search profile.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchProfileUpdateRequest'
      responses:
        '200':
          description: Successfully updated search profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchProfileResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied - search profile owned by the organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Search profile not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Search Profiles
      operationId: deleteSearchProfile
      summary: Delete search profile
      description: Delete a search profile.
      responses:
        '204':
          description: Successfully deleted search profile
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied - search profile owned by the organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/search-profiles/{search_profile_id}/default:
    parameters:
      - name: search_profile_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The unique ID of the search profile
        example: ac107ce9-96ac-4bd5-aa3d-59f40b91279b
        x-go-name: ProfileID
    post:
      tags:
        - Search Profiles
      operationId: setDefaultSearchProfile
      summary: Set search profile as default
      description: Set a search profile as the default.
      responses:
        '200':
          description: Successfully updated the search profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchProfileResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied - search profile owned by the organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Search profile not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/search/stopword-sets:
    post:
      tags:
        - Stopword Sets
      operationId: createStopwordSet
      summary: Create stopword set
      description: Create a new stopwords set.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStopwordSetRequest'
      responses:
        '201':
          description: Successfully created stopword set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopwordSetResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - a stopwords set for the given locale already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Stopword Sets
      operationId: listStopwordSets
      summary: List stopword sets
      description: List all stopwords sets.
      responses:
        '200':
          description: Successfully listed stopword sets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListStopwordSetsResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/search/stopword-sets/{stopword_set_id}:
    parameters:
      - name: stopword_set_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The unique ID of the stopword set
        example: 550e8400-e29b-41d4-a716-446655440000
        x-go-name: StopwordSetID
    get:
      tags:
        - Stopword Sets
      operationId: getStopwordSet
      summary: Get stopword set
      description: Get a stopwords set by ID.
      responses:
        '200':
          description: Successfully retrieved stopword set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopwordSetResponse'
        '404':
          description: Stopword set not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Stopword Sets
      operationId: updateStopwordSet
      summary: Update stopword set
      description: Update the stopwords in an existing stopwords set. The locale cannot be changed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStopwordSetRequest'
      responses:
        '200':
          description: Successfully updated stopword set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopwordSetResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Stopword set not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Stopword Sets
      operationId: deleteStopwordSet
      summary: Delete stopword set
      description: Delete a stopword set by ID.
      responses:
        '204':
          description: Stopword set marked for deletion
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/search/synonym-sets:
    post:
      tags:
        - Synonym Sets
      operationId: createSynonymSet
      summary: Create synonym set
      description: Create a new synonym set.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSynonymSetRequest'
      responses:
        '201':
          description: Successfully created synonym set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SynonymSetResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Synonym Sets
      operationId: listSynonymSets
      summary: List synonym sets
      description: List all synonym sets.
      responses:
        '200':
          description: Successfully listed synonym sets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSynonymSetsResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/search/synonym-sets/{synonym_set_id}:
    parameters:
      - name: synonym_set_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The unique ID of the synonym set
        example: 550e8400-e29b-41d4-a716-446655440000
        x-go-name: SynonymSetID
    get:
      tags:
        - Synonym Sets
      operationId: getSynonymSet
      summary: Get synonym set
      description: Get a synonym set by ID.
      responses:
        '200':
          description: Successfully retrieved synonym set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SynonymSetResponse'
        '404':
          description: Synonym set not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Synonym Sets
      operationId: updateSynonymSet
      summary: Update synonym set
      description: Update a synonym set by ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSynonymSetRequest'
      responses:
        '200':
          description: Successfully updated synonym set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SynonymSetResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Synonym set not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Synonym Sets
      operationId: deleteSynonymSet
      summary: Delete synonym set
      description: Delete a synonym set by ID. A synonym set cannot be deleted while it is being used by any search profile.
      responses:
        '204':
          description: Synonym set marked for deletion
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - synonym set is referenced by a search profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/search-indexes:
    get:
      tags:
        - Search Indexes
      operationId: listSearchIndexes
      summary: List search indexes
      description: List search indexes.
      parameters:
        - name: out_of_sync
          in: query
          description: Filter search indexes by out of sync status
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: List search indexes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSearchIndexesResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    BearerToken:
      scheme: bearer
      type: http
  responses:
    InternalServerError:
      description: Internal server error. There was a system failure in the platform.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            internal-server-error:
              value:
                errors:
                  - title: Internal Server Error
                    status: '500'
  schemas:
    ReindexTenantReleasesJobRequest:
      type: object
      properties:
        data:
          description: The primary data for the request.
          type: object
          required:
            - force_reindex
    Job:
      type: object
      required:
        - id
        - type
        - attributes
      properties:
        id:
          description: The unique identifier for the job.
          type: string
          format: uuid
          example: 4c9efe34-57bb-4117-abed-184008d3ae0a
          x-go-name: ID
        type:
          description: The type of the resource object.
          type: string
          enum:
            - job
          example: job
        attributes:
          description: The attributes of the job.
          $ref: '#/components/schemas/JobAttributes'
        meta:
          $ref: '#/components/schemas/JobMeta'
    JobAttributes:
      type: object
      required:
        - status
        - type
      properties:
        status:
          description: The status of the job.
          type: string
          enum:
            - pending
            - processing
            - complete
            - failed
          example: pending
        catalog_id:
          description: The ID of the catalog.
          type: string
          format: uuid
          example: ac107ce9-96ac-4bd5-aa3d-59f40b91279b
          x-go-name: CatalogID
        catalog_release_id:
          description: The ID of the catalog release.
          type: string
          format: uuid
          example: c12c4e5b-f5e4-4bd0-ac86-9f1202fc27f9
          x-go-name: CatalogReleaseID
        type:
          description: The type of the job.
          type: string
          enum:
            - index-release
            - delete-release
            - reindex-tenant-releases
          example: index-release
          default: index
          x-go-type: model.JobType
          x-go-type-import:
            name: model
            path: gitlab.elasticpath.com/commerce-cloud/ncl-projects/paragon/catalog-search.svc/internal/domain/model
    JobMeta:
      description: Meta information of the job
      type: object
      properties:
        results:
          description: Results of the job
          type: array
          items:
            $ref: '#/components/schemas/JobMetaResult'
        errors:
          description: Errors occurred during the job
          type: array
          items:
            $ref: '#/components/schemas/JobMetaError'
    JobMetaResult:
      description: Result of the job
      type: object
    JobMetaError:
      type: object
      required:
        - detail
      properties:
        detail:
          description: A string describing the error.
          type: string
          example: Failed to get release
        context:
          description: Any additional context of the error.
          type: object
    Product:
      type: object
      title: Product
      description: A product in a catalog with the following attributes.
      properties:
        attributes:
          type: object
          description: Arbitrary document object
        id:
          description: A unique identifier for a product.
          type: string
          example: 8fccaa19-dba9-4621-8d11-31a222a68c7c
          x-go-name: ID
        relationships:
          type: object
          description: Arbitrary document object
        type:
          description: This represents the type of object being returned. Always `product`.
          type: string
          example: product
          x-go-name: Type
        meta:
          type: object
          description: Arbitrary document object
    AutocompleteResponse:
      type: object
      title: AutocompleteResponse
      description: An autocomplete suggestion with query frequency information.
      properties:
        id:
          description: A unique identifier for the autocomplete suggestion.
          type: string
          example: hammer_123
          x-go-name: ID
        q:
          description: The query text for the autocomplete suggestion.
          type: string
          example: hammer
          x-go-name: Query
        count:
          description: The frequency count of this query.
          type: integer
          example: 42
          x-go-name: Count
    MultiSearchRequest:
      type: object
      required:
        - searches
      properties:
        searches:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/SearchQuery'
    SearchQuery:
      type: object
      properties:
        type:
          type: string
          enum:
            - search
            - autocomplete
          example: search
          description: Type of search operation to perform
        highlight_full_fields:
          type: string
          example: name,description
        q:
          type: string
          example: search query
        facet_by:
          $ref: '#/components/schemas/FacetByField'
        filter_by:
          $ref: '#/components/schemas/FilterByField'
        sort_by:
          $ref: '#/components/schemas/SortByField'
        max_facet_values:
          type: integer
          example: 10
        page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 20
    MultiSearchResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/SearchResult'
        included:
          $ref: '#/components/schemas/IncludedResponse'
    SearchResponse:
      allOf:
        - $ref: '#/components/schemas/SearchResult'
        - type: object
          properties:
            included:
              $ref: '#/components/schemas/IncludedResponse'
    SearchResult:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchResultType'
        facet_counts:
          type: array
          items:
            $ref: '#/components/schemas/FacetCount'
        found:
          type: integer
          example: 150
        hits:
          type: array
          items:
            $ref: '#/components/schemas/Hit'
        out_of:
          type: integer
          example: 150
        page:
          type: integer
          example: 1
        request_params:
          type: object
        search_cutoff:
          type: boolean
          example: false
        search_time_ms:
          type: integer
          example: 25
    FacetCount:
      type: object
      properties:
        counts:
          type: array
          items:
            $ref: '#/components/schemas/FacetValue'
        field_name:
          type: string
          example: category
        sampled:
          type: boolean
          example: false
        stats:
          type: object
    FacetValue:
      type: object
      properties:
        count:
          type: integer
          example: 42
        highlighted:
          type: string
          example: <em>electronics</em>
        value:
          type: string
          example: electronics
    Hit:
      type: object
      properties:
        document:
          oneOf:
            - $ref: '#/components/schemas/Product'
            - $ref: '#/components/schemas/AutocompleteResponse'
          description: Document object - either a Product or AutocompleteResponse
        highlight:
          type: object
        highlights:
          type: array
          items:
            type: object
    SearchResultType:
      type: string
      enum:
        - search
        - autocomplete
      example: search
      description: Type of search operation to performed
    IncludedResponse:
      type: object
      description: Included is an array of resources that are included in the response.
      additionalProperties:
        type: array
        items:
          type: object
    IndexableFieldsCreateRequest:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - type
            - attributes
          properties:
            type:
              $ref: '#/components/schemas/IndexableFieldsType'
            attributes:
              $ref: '#/components/schemas/IndexableFieldsRequestAttributes'
    IndexableFieldsUpdateRequest:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/IndexableFieldsUpdateRequestData'
    IndexableFieldsUpdateRequestData:
      type: object
      required:
        - id
        - type
        - attributes
      properties:
        id:
          description: The unique identifier of the indexable fields. Must match the ID specified in the request path.
          type: string
          format: uuid
          example: 805103ff-0a37-4f83-8fe0-95a16039bd98
          x-go-name: ID
        type:
          $ref: '#/components/schemas/IndexableFieldsType'
        attributes:
          $ref: '#/components/schemas/IndexableFieldsRequestAttributes'
    ListIndexableFieldsResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/IndexableFields'
    IndexableFieldsResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/IndexableFields'
    IndexableFields:
      type: object
      required:
        - id
        - type
        - attributes
        - meta
      properties:
        id:
          description: A unique identifier of the indexable fields.
          type: string
          format: uuid
          example: 805103ff-0a37-4f83-8fe0-95a16039bd98
          x-go-name: ID
        type:
          $ref: '#/components/schemas/IndexableFieldsType'
        attributes:
          $ref: '#/components/schemas/IndexableFieldsAttributes'
        meta:
          $ref: '#/components/schemas/IndexableFieldsMeta'
    IndexableFieldsRequestAttributes:
      type: object
      properties:
        fields:
          type: array
          description: A collection of indexable fields
          title: IndexableFields
          items:
            $ref: '#/components/schemas/IndexableFieldRequest'
          example:
            - name: extensions.products(clothing).color
              facetable: false
              sortable: false
              locale: en
            - name: shopper_attributes.fabric
              facetable: false
              sortable: false
            - name: admin_attributes.internal_grade
              sortable: true
        core_field_overrides:
          type: array
          description: Per-field configuration for core product fields (e.g. name, description).
          items:
            $ref: '#/components/schemas/CoreFieldOverride'
        token_separators:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 1
          description: |
            Characters to use as token separators across all the index fields, in addition to spaces and newlines. Each element must be a single character. Defaults to none set.
            For example, take text `non-tech`. By default, it will be tokenized to `nontech`. So, search for `non tech` will not match the product. Set `token_separators: ["-"]`. Then it will be tokenized to `non` and `tech`. Now, search for both `non-tech` and `non tech` will match this product.
        symbols_to_index:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 1
          description: |
            By default, special characters are removed from fields when indexing and searching for them. Provide list of special characters that should be indexed as part of the tokens across the all index fields. Each element must be a single character. Defaults to none set.
    IndexableFieldsAttributes:
      type: object
      properties:
        fields:
          type: array
          x-go-type-skip-optional-pointer: true
          description: A collection of indexable fields
          title: IndexableFields
          items:
            $ref: '#/components/schemas/IndexableField'
          example:
            - name: extensions.products(clothing).color
              type: string
              facetable: false
              sortable: false
              locale: en
            - name: shopper_attributes.fabric
              type: string
              facetable: false
              sortable: false
            - name: admin_attributes.internal_grade
              type: string
              sortable: true
        core_field_overrides:
          type: array
          x-go-type-skip-optional-pointer: true
          description: Per-field configuration for core product fields (e.g. name, description).
          items:
            $ref: '#/components/schemas/CoreFieldOverride'
        token_separators:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            type: string
            minLength: 1
            maxLength: 1
          description: |
            Characters used as token separators across the entire collection.
        symbols_to_index:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            type: string
            minLength: 1
            maxLength: 1
          description: |
            Characters indexed as part of tokens across the entire collection.
    IndexableFieldsMeta:
      type: object
      required:
        - owner
      properties:
        owner:
          $ref: '#/components/schemas/ResourceOwner'
    IndexableFieldRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: |
            The name of the field to index. Two formats are supported:

            - **Extension fields**: `extensions.products(<template_slug>).<field_name>` — indexes a field from a product extension template. The field must exist and be enabled in the flows service.
            - **Shopper attribute fields**: `shopper_attributes.<attribute_name>` — indexes a merchant-defined shopper attribute. Always typed as `string`. The attribute name must be no longer than **64 characters** and can only contain alphanumeric characters, underscores (`_`), and hyphens (`-`).
            - **Admin attribute fields**: `admin_attributes.<attribute_name>` — indexes a merchant-defined admin attribute. Always typed as `string`. The attribute name must be no longer than **64 characters** and can only contain alphanumeric characters, underscores (`_`), and hyphens (`-`).
          example: extensions.products(clothing).color
          minLength: 1
        facetable:
          type: boolean
          description: Enables faceting on the field.
          default: false
          example: true
        sortable:
          type: boolean
          description: 'When set to true, the field will be sortable. Default: true for numbers, false otherwise.'
          example: true
        locale:
          type: string
          description: 'For configuring language specific tokenization, e.g. jp for Japanese. Default: en which also broadly supports most European languages. For valid values, see [ISO 639 language codes](https://en.wikipedia.org/wiki/List_of_ISO_639_language_codes).'
          default: en
          example: en
        stem:
          $ref: '#/components/schemas/Stem'
        token_separators:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            type: string
            minLength: 1
            maxLength: 1
          description: |
            Per-field token separators for this field. Overrides the collection-level token_separators for this field. An empty array defers to the collection-level setting. Each element must be a single character.
            For example, take text `non-tech`. By default, it will be tokenized to `nontech`. So, search for `non tech` will not match the product. Set `token_separators: ["-"]`. Then it will be tokenized to `non` and `tech`. Now, search for both `non-tech` and `non tech` will match this product.
        symbols_to_index:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            type: string
            minLength: 1
            maxLength: 1
          description: |
            By default, special characters are removed from fields when indexing and searching for them. Provide per-field special characters to index for this field. Overrides the collection-level symbols_to_index for this field. An empty array defers to the collection-level setting. Each element must be a single character.
    IndexableField:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
          description: The name of the field.
          example: extensions.products(clothing).color
          minLength: 1
        type:
          $ref: '#/components/schemas/FieldType'
        facetable:
          type: boolean
          description: Enables faceting on the field.
          default: false
          example: true
        sortable:
          type: boolean
          description: 'When set to true, the field will be sortable. Default: true for numbers, false otherwise.'
          example: true
        locale:
          type: string
          description: 'For configuring language specific tokenization, e.g. jp for Japanese. Default: en which also broadly supports most European languages. For valid values, see [ISO 639 language codes](https://en.wikipedia.org/wiki/List_of_ISO_639_language_codes).'
          default: en
          example: en
        stem:
          $ref: '#/components/schemas/Stem'
        token_separators:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            type: string
            minLength: 1
            maxLength: 1
          description: |
            Per-field token separators for this field. Overrides the collection-level token_separators for this field. An empty array defers to the collection-level setting.
        symbols_to_index:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            type: string
            minLength: 1
            maxLength: 1
          description: |
            Provide per-field special characters to index for this field. Overrides the collection-level symbols_to_index for this field. An empty array defers to the collection-level setting.
    CoreFieldOverride:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: |
            Name of the core field to configure. Must be one of the supported core fields.
          example: name
        stem:
          $ref: '#/components/schemas/Stem'
        token_separators:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            type: string
            minLength: 1
            maxLength: 1
          description: |
            Per-field token separators for this core field. Overrides the collection-level token_separators for this field. An empty array defers to the collection-level setting. Each element must be a single character.
            For example, take text `non-tech`. By default, it will be tokenized to `nontech`. So, search for `non tech` will not match the product. Set `token_separators: ["-"]`. Then it will be tokenized to `non` and `tech`. Now, search for both `non-tech` and `non tech` will match this product.
        symbols_to_index:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            type: string
            minLength: 1
            maxLength: 1
          description: |
            By default, special characters are removed from fields when indexing and searching for them. Provide per-field special characters to index for this core field. Overrides the collection-level symbols_to_index for this field. An empty array defers to the collection-level setting. Each element must be a single character.
        sortable:
          type: boolean
          description: |
            When set to true, enables sorting on this core field. Only supported for specific core fields.
          example: true
    Stem:
      type: boolean
      description: |
        When true, enables word stemming on this field using [Snowball stemmer](https://snowballstem.org/). Stemming reduces words to their root form at index and query time, so a search for "running" will also match products containing "run", "runs", or "runner". This improves search recall for descriptive text fields where shoppers may use different word forms than those used in product data. Only valid for string-typed fields. Defaults to false.
      example: true
    IndexableFieldsType:
      description: Represents the type of object being returned. Always `catalog_search_indexable_fields`.
      type: string
      example: catalog_search_indexable_fields
      enum:
        - catalog_search_indexable_fields
    SearchableFieldsResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          description: A collection of searchable fields.
          items:
            $ref: '#/components/schemas/SearchableField'
        meta:
          $ref: '#/components/schemas/ListResponseMeta'
    SearchableField:
      type: object
      required:
        - id
        - type
        - attributes
        - meta
      properties:
        id:
          description: A unique identifier of the field.
          type: string
          example: name
          x-go-name: ID
        type:
          $ref: '#/components/schemas/SearchableFieldType'
        attributes:
          $ref: '#/components/schemas/SearchableFieldAttributes'
        meta:
          $ref: '#/components/schemas/SearchableFieldMeta'
    SearchableFieldAttributes:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
          description: The name of the field.
          example: name
          minLength: 1
        type:
          $ref: '#/components/schemas/FieldType'
        facetable:
          type: boolean
          description: Enables faceting on the field.
          default: false
          example: true
        sortable:
          type: boolean
          description: 'When set to true, the field will be sortable. Default: true for numbers, false otherwise.'
          example: true
        locale:
          type: string
          description: 'For configuring language specific tokenization, e.g. jp for Japanese. Default: en which also broadly supports most European languages. For valid values, see [ISO 639 language codes](https://en.wikipedia.org/wiki/List_of_ISO_639_language_codes).'
          default: en
          example: en
    SearchableFieldMeta:
      type: object
      required:
        - owner
      properties:
        owner:
          $ref: '#/components/schemas/ResourceOwner'
    SearchableFieldType:
      description: Represents the type of object being returned. Always `catalog_searchable_field`.
      type: string
      example: catalog_searchable_field
      enum:
        - catalog_searchable_field
    FieldType:
      type: string
      description: The type of the field.
      enum:
        - string
        - int32
        - int64
        - bool
        - float
      example: string
      x-go-type: model.FieldType
      x-go-type-import:
        name: model
        path: gitlab.elasticpath.com/commerce-cloud/ncl-projects/paragon/catalog-search.svc/internal/domain/model
    SearchProfileCreateRequest:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/SearchProfileCreateRequestData'
    SearchProfileCreateRequestData:
      type: object
      required:
        - type
        - attributes
      properties:
        type:
          $ref: '#/components/schemas/SearchProfileType'
        attributes:
          $ref: '#/components/schemas/SearchProfileAttributes'
    SearchProfileUpdateRequest:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/SearchProfileUpdateRequestData'
    SearchProfileUpdateRequestData:
      type: object
      required:
        - id
        - type
        - attributes
      properties:
        id:
          description: The unique identifier of the search profile. Must match the ID specified in the request path.
          type: string
          format: uuid
          example: 805103ff-0a37-4f83-8fe0-95a16039bd98
          x-go-name: ID
        type:
          $ref: '#/components/schemas/SearchProfileType'
        attributes:
          $ref: '#/components/schemas/SearchProfileUpdateAttributes'
    SearchProfileUpdateAttributes:
      type: object
      properties:
        slug:
          type: string
          description: The unique slug of the search profile. A slug can contain A to Z, a to z, 0 to 9, hyphen, underscore, and period. Spaces or other special characters like ^, [], *, and $ are not allowed.
          example: default
          pattern: ^[a-zA-Z0-9_.-]+$
          minLength: 1
        description:
          type: string
          description: The description of the search profile.
          example: Default search profile
        fields:
          type: array
          description: A collection of search fields
          minItems: 1
          items:
            $ref: '#/components/schemas/SearchField'
        text_match_type:
          $ref: '#/components/schemas/TextMatchType'
        filters:
          type: array
          description: |
            Optional list of filter expressions to apply to search results. Multiple filters in the array are combined using OR logic (records matching filter1 || filter2 || ... filterN).
            To combine conditions with AND logic, include multiple conditions within a single filter string (e.g., "meta.search.categories.lvl1:=`All Products > Mens Shoes` && meta.display_price.without_tax.float_price:>100").
            These profile-level filters are ANDed with any filters provided in the search request via the filter_by parameter, resulting in: (profile_filter1 || profile_filter2 || ... profile_filterN) && request_filters.
          items:
            type: string
            example: meta.search.categories.lvl1:=`All Products > Mens Shoes`
            minLength: 1
        exclusions:
          type: array
          description: A collection of exclusion expressions to apply to search results. Multiple exclusions in the array are combined using OR logic (records matching exclusion1 || exclusion2 || ... exclusionN).
          items:
            type: string
            example: meta.search.categories.lvl1:=`All Products > Mens Shoes`
            minLength: 1
        boosts:
          type: array
          items:
            $ref: '#/components/schemas/SearchBoostRule'
        prefix:
          type: boolean
          nullable: true
          description: |
            Profile-level default for prefix (partial match) behavior on the last query token. When true, the last word in the query is treated as a prefix for all fields that do not have an explicit per-field prefix value. For example, a search request for "red app" matches "red apple". When false, the last word must match exactly. If omitted, default of true applies. Per-field prefix values override this setting.
            The primary use case is to show results as the user is typing in the search box.
          example: true
        typo_tolerance:
          $ref: '#/components/schemas/TypoTolerance'
        synonym_sets:
          type: array
          description: |
            Optional list of synonym set IDs to apply at search time. Each synonym set must exist and must have been synced to the search engine at least once. Organization-level search profiles may only reference organization-level synonym sets. Store-level search profiles may reference organization-level and same-store synonym sets. Set to an empty array to remove all synonym sets from the search profile.
          items:
            type: string
            format: uuid
            example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        force_use_default_price_for_faceting_and_sorting:
          type: boolean
          description: When set to true, the default price is used for faceting and sorting for segmented catalogs even if the catalog rule has a supported price book.
          example: true
    StopwordSetResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/StopwordSet'
    ListStopwordSetsResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/StopwordSet'
        meta:
          $ref: '#/components/schemas/ListResponseMeta'
    StopwordSet:
      type: object
      required:
        - id
        - type
        - attributes
        - meta
      properties:
        id:
          description: The unique identifier for the stopword set.
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
          x-go-name: ID
        type:
          $ref: '#/components/schemas/StopwordSetType'
        attributes:
          $ref: '#/components/schemas/StopwordSetAttributes'
        meta:
          $ref: '#/components/schemas/StopwordSetMeta'
    StopwordSetType:
      type: string
      description: Represents the type of object being returned. Always `catalog_search_stopword_set`.
      example: catalog_search_stopword_set
      enum:
        - catalog_search_stopword_set
    StopwordSetAttributes:
      type: object
      required:
        - stopwords
      properties:
        locale:
          type: string
          description: |
            [ISO 639 language codes](https://en.wikipedia.org/wiki/List_of_ISO_639_language_codes) for the stopwords set. Omit or pass null for the default set. At most one stopwords set per locale is allowed.
          example: en
        stopwords:
          type: array
          description: The list of stopwords.
          items:
            type: string
          minItems: 1
          example:
            - the
            - a
            - an
            - is
    StopwordSetMeta:
      type: object
      required:
        - created_at
        - updated_at
        - owner
        - sync_status
      properties:
        created_at:
          type: string
          format: date-time
          description: The date and time the stopword set was created.
          example: '2026-03-05T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: The date and time the stopword set was last updated.
          example: '2026-03-05T12:00:00Z'
        owner:
          $ref: '#/components/schemas/ResourceOwner'
        sync_status:
          type: string
          description: The sync status of the stopword set.
          enum:
            - pending_sync
            - synced
            - sync_failed
            - pending_delete
          example: pending_sync
          x-go-type: model.SyncStatus
          x-go-type-import:
            name: model
            path: gitlab.elasticpath.com/commerce-cloud/ncl-projects/paragon/catalog-search.svc/internal/domain/model
        last_synced_at:
          type: string
          format: date-time
          description: The date and time the stopword set was last successfully synced.
          example: '2026-03-05T12:01:00Z'
    CreateStopwordSetRequest:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - type
            - attributes
          properties:
            type:
              $ref: '#/components/schemas/StopwordSetType'
            attributes:
              $ref: '#/components/schemas/StopwordSetAttributes'
    UpdateStopwordSetRequest:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - id
            - type
            - attributes
          properties:
            id:
              type: string
              format: uuid
              example: 550e8400-e29b-41d4-a716-446655440000
              x-go-name: ID
            type:
              $ref: '#/components/schemas/StopwordSetType'
            attributes:
              $ref: '#/components/schemas/UpdateStopwordSetAttributes'
    UpdateStopwordSetAttributes:
      type: object
      required:
        - stopwords
      properties:
        stopwords:
          type: array
          description: The replacement list of stopwords. Must contain at least one entry.
          items:
            type: string
          minItems: 1
          example:
            - the
            - a
            - an
    SynonymSetResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/SynonymSet'
    ListSynonymSetsResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SynonymSet'
        meta:
          $ref: '#/components/schemas/ListResponseMeta'
    SynonymSet:
      type: object
      required:
        - id
        - type
        - attributes
        - meta
      properties:
        id:
          description: The unique identifier for the synonym set.
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
          x-go-name: ID
        type:
          $ref: '#/components/schemas/SynonymSetType'
        attributes:
          $ref: '#/components/schemas/SynonymSetAttributes'
        meta:
          $ref: '#/components/schemas/SynonymSetMeta'
    SynonymSetType:
      type: string
[...]
